<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0" style="font-weight: 700; font-size: 120%" class="text-center">Workflow Name:
      {{workflowItemData?.name}}</h4>
  </div>
  <app-table-header [title]="'Workflow Step'" [hideExtraOptions]="true"
    (openAddModalEvent)="openAddModal()"></app-table-header>

</div>

<div class="card">
  <div class="card-body">
    <div class="row">

      <div class="col-md-4">
        <div class="card border-0 box-shadow" widget>
          <div class="text-center pt-2 ml-4 list-group list-group-flush" style="color: green;">
            <p style="font-weight: 700; font-size: 120%">Workflow Details</p>
          </div>
          <hr>
          <div class="card-body pt-0 widget-body">


            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Workflow Name:
                <span class="text-right">Create Signatory</span>
              </li>

              <li class="list-group-item d-flex justify-content-between align-items-center">
                Workflow Role:
                <span class="text-right">Create Signatory</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Created On:
                <span class="text-right">22-05-2023</span>
              </li>

              <li class="list-group-item d-flex justify-content-between align-items-center">
                Status:
                <span>Active</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Desc:
                <span>Create signatory Description</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
          <div>Add Workflow step</div>
          <app-table-header
          [allColumns]="allColumns"
          [rows]="rows" [title]="title"
          [showAddButton]="true"
            (changeColumnsEvent)="updateColumns($event)"
             (openAddModalEvent)="openAddModal()">
            </app-table-header>

        </div>


        <div class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <app-custom-ngx-table
               [columns]="columns"
               [rows]="rows"
               [actions]="actions"
                (outputEvent)="triggerEvent($event)">
              </app-custom-ngx-table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
