<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/mobile-banking/products/list-categories">All Categories</a></li>
    <li class="breadcrumb-item"><a>View Products</a></li>
  </ol>
</nav>


<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">All Products</h4>
  </div>

  <div ngbDropdown>
    <button class="btn btn-primary btn-xs" id="dropdownBasic1" ngbDropdownToggle>Select View</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem routerLink="/mobile-banking/products/list-products-as-cards/1">Card View</button>
      <button ngbDropdownItem routerLink="/mobile-banking/products/product/1">Table View</button>
    </div>
  </div>
  <app-table-header
    [allColumns]="allColumns"
    [rows]="rows"
    [title]="title"
    [showAddButton]="true"
    (changeColumnsEvent)="updateColumns($event)"
   (openAddModalEvent)="openAddProductModal()"
  >
</app-table-header>

</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card" *ngIf="rows.length > 0">
        <app-custom-ngx-table
          [columns]="columns"
          [rows]="rows"
          [actions]="actions"
          [loadingIndicator]="loading"
          (outputEvent)="triggerEvent($event)"
        ></app-custom-ngx-table>
    </div>
  </div>
</div>

