

<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">All Mobile Application Customers</h4>

  </div>
  <app-table-header
    [allColumns]="allColumns"
    [rows]="rows"
    [title]="title"
    [showAddButton]="false"
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddProductModal()"
  ></app-table-header>

</div>

<div class="row mb-2">
  <div class="col-10">
  </div>
  <div class="col-2 text-right">
    <div>
      <button class="btn btn-danger btn-sm" (click)="openDisableModal('Mobile App')"><i class="feather icon-x icon-sm me-2"></i>Disable Channel</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
        <app-custom-ngx-table
          [columns]="columns"
          [rows]="rows"
          [actions]="actions"
          [loadingIndicator]="loading"
          (outputEvent)="triggerEvent($event)"
        ></app-custom-ngx-table>
    </div>
  </div>
</div>
