<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">All Profiles</h4>
  </div>
  <app-table-header
    [allColumns]="allColumns"
    [rows]="rows"
    [title]="title"
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddProfileModal()"
  ></app-table-header>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
        <app-custom-ngx-table
          [columns]="columns"
          [rows]="rows"
          [actions]="actions"

          (outputEvent)="triggerEvent($event)"
          (editEvent)="openEditProfileModal($event)"
        ></app-custom-ngx-table>
    </div>
  </div>
</div>
