<div>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
    <button (click)="activeModal.close('Close click')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 text-left mx-auto">
        <div class="row">
          <div class="column d-flex justify-content-between">
            <img src="assets/images/user_img.png" style="width:35%">
            <img src="assets/images/user_img.png" style="width:35%">
          </div>
          <div class="column">
            <h4>Faces don't Match</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="activeModal.close('Close click')" class="btn btn-secondary" type="button">Close</button>
    <button (click)="submitData()" class="btn btn-primary" type="button">Confirm</button>
  </div>
</div>

