<div class="d-flex align-items-center flex-wrap text-nowrap">
  <div class="input-group wd-200 me-2 mb-2 mb-md-0">
    <div id="list1" class="dropdown-check-list" tabindex="100">
      <span class="anchor" (click)="toggleDrop()">Show/Hide Columns</span>
      <ul class="items">
        <li *ngFor="let col of allColumns">
          <input type="checkbox" [id]="col.name" (click)="toggle(col)" [checked]="isChecked(col)" />
          <label [attr.for]="col.name"> {{ col.name }}</label>
        </li>
      </ul>
    </div>
  </div>
  <button
    class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0 btn-xs"
    type="button"
  >
    <i appFeatherIcon class="btn-icon-prepend" data-feather="printer"></i>
    {{"downloadTextOnButton" | translate}}
  </button>
  <button
    (click)="openAddItemModal()"
    class="btn btn-primary btn-icon-text mb-2 mb-md-0 btn-xs"
    type="button"
  >
    <i appFeatherIcon class="btn-icon-prepend" data-feather="plus"></i>
    Add Product
  </button>
</div>
