<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">All Product Categories</h4>
  </div>

  <div ngbDropdown>
    <button class="btn btn-primary btn-xs" id="dropdownBasic1" ngbDropdownToggle>Select View</button>
    <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
      <button ngbDropdownItem routerLink="/mobile-banking/products/list-categories-as-cards">Card View</button>
      <button ngbDropdownItem routerLink="/mobile-banking/products/list-requests">Table View</button>
    </div>
  </div>

  <app-table-header
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddProductModal()"
    [allColumns]="allColumns"
    [rows]="rows"
    [showAddButton]="true"
    [title]="title"
  ></app-table-header>


</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">

      <div [perfectScrollbar] class="table-responsive">
        <ngx-datatable
          #table
          [columnMode]="ColumnMode.force"
          [columns]="columns"
          [footerHeight]="50"
          [limit]="10"
          [loadingIndicator]="loadingIndicator"
          [rowHeight]="'auto'"
          [rows]="rows"
          class="bootstrap"
        >
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail
            #myDetailRow
            (toggle)="onDetailToggle($event)"
            [rowHeight]="200"
          >
            <ng-template
              let-expanded="expanded"
              let-row="row"
              ngx-datatable-row-detail-template
            >

              <div *ngIf="row.children.length > 0"
                   style="padding-left: 35px; padding-top: 15px; background-color: #ecedee!important;">
                <div><h5>Sub-Categories of {{row.name}}</h5></div>
                <div class="card">
                  <app-product-categories-subitem [subItems]="row.children"></app-product-categories-subitem>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          Column Templates
          <ngx-datatable-column
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [sortable]="false"
            [width]="5"
          >
            <ng-template
              let-expanded="expanded"
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <ng-container *ngIf="row.children.length > 0">
                <a
                  (click)="toggleExpandRow(row, $event)"
                  [class.datatable-icon-down]="expanded"
                  [class.datatable-icon-right]="!expanded"
                  href="javascript:void(0)"
                  title="Expand/Collapse Row"
                >
                </a>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>

          <ng-container *ngFor="let column of columns">
            <ngx-datatable-column
              *ngIf="column.name === 'ID' || column.name === '#'"
              [draggable]="false"
              [maxWidth]="45"
              [minWidth]="35"
              [resizeable]="false"
              name="#"
              prop="frontendId"
            >
            </ngx-datatable-column>

            <ngx-datatable-column
              *ngIf="column.name === 'Actions' && actions.length > 0"
              [draggable]="false"
              [maxWidth]="150"
              [minWidth]="150"
              [resizeable]="false"
              [sortable]="false"
              class="parent-item"
              name="Actions"
              prop="actions"
            >
              <ng-template
                class="parent-item"
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
          <span class="parent-item">
            <ng-template #buttons>
              <ul class="list-group list-group-flush">
                <ng-container *ngIf="row.children.length > 0; else showAllButtons">
                <li
                  *ngFor="let action of ['Edit', 'Delete']; index as i"
                  class="action-buttons list-group-item pt-1 pb-1 text-center"
                  (click)="sendEvent(row, action)"
                >
                  {{ action }}
                </li>
                </ng-container>
              </ul>
            </ng-template>

            <ng-template #showAllButtons>
              <li
                *ngFor="let action of actions; index as i"
                class="action-buttons list-group-item pt-1 pb-1 text-center"
                (click)="sendEvent(row, action)"
              >
                  {{ action }}
                </li>
            </ng-template>
            <div class="example">
              <button
                [ngbPopover]="buttons"
                class="btn btn-primary btn-xs"
                placement="left-top"
                type="button"
              >
                <i class="feather icon-chevron-down"></i> Actions
              </button>
            </div>
          </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              *ngIf="column.name === 'Status' || column.name === 'Active'"
              [draggable]="false"
              [maxWidth]="150"
              [minWidth]="150"
              [resizeable]="false"
              name="Status"
              prop="status"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <app-label-active
                  [value]="row.status || row.active || !row.blocked"
                ></app-label-active>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              *ngIf="column.name === 'CreatedOn'"
              [draggable]="false"
              [maxWidth]="150"
              [minWidth]="150"
              [resizeable]="false"
              name="CreatedOn"
              prop="createdOn"
            >
            </ngx-datatable-column>

            <ngx-datatable-column
              *ngIf="
          column.name !== 'Actions' &&
          column.name !== 'Status' &&
          column.name !== 'TaskStatus' &&
          column.name !== 'Active' &&
          column.name !== 'ID' &&
          column.name !== '#' &&
          column.name !== 'SystemRole' &&
          column.name !== 'CreatedOn'
        "
              [draggable]="false"
              [resizeable]="false"
              name="{{ column.name }}"
              prop="{{ column.prop }}"
            >
            </ngx-datatable-column>
          </ng-container>

          <ngx-datatable-footer>
            <ng-template
              let-curPage="curPage"
              let-isVisible="isVisible"
              let-offset="offset"
              let-pageSize="pageSize"
              let-rowCount="rowCount"
              let-selectedCount="selectedCount"
              ngx-datatable-footer-template
            >
              <datatable-pager
                (change)="table.onFooterPage($event)"
                [count]="rowCount"
                [hidden]="!(rowCount / pageSize > 1)"
                [page]="curPage"
                [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerNextIcon]="'datatable-icon-skip'"
                [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerRightArrowIcon]="'datatable-icon-right'"
                [size]="pageSize"
              ></datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>


    </div>
  </div>
</div>
