.profiles-container {
    background-color: #FFFFFF;
  }

  .dashboard-item {
    background-color: #f8f9fa; /* Light background (optional) */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    overflow: hidden; /* Ensures content stays inside the container */
  }