<!--<div class="row m-0 p-0">-->
<!--    <div class="col-md-4">-->
<!--        <div class="card border-0 box-shadow" widget>-->
<!--            <div class="text-left pt-2" style="color: green;">-->
<!--                <p class="text-center" style="font-weight: 700; font-size: 120%">All Roles</p>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <div class="card-body pt-0 widget-body">-->

<!--                <div class="table-responsive table-striped table-bordered">-->
<!--&lt;!&ndash;                    <ng2-smart-table (custom)="onCustomActionAddRole($event)" [settings]="pendingSettings" [source]="pendingDataSet"&ndash;&gt;-->
<!--&lt;!&ndash;                                     class="table table-hover">&ndash;&gt;-->
<!--&lt;!&ndash;                    </ng2-smart-table>&ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-md-4">-->
<!--        <div class="card border-0 box-shadow" widget>-->

<!--            <div class="text-left pt-2" style="color: green;">-->
<!--                <p class="text-center" style="font-weight: 700; font-size: 120%">Granted Roles</p>-->
<!--            </div>-->
<!--            <hr>-->

<!--            <div class="card-body pt-0 widget-body pb-1 mb-3">-->

<!--                <div class="table-responsive table-striped table-bordered">-->
<!--&lt;!&ndash;                    <ng2-smart-table (custom)="onCustomActionRemoveRole($event)" [settings]="approvedSettings" [source]="approvedDataSet"&ndash;&gt;-->
<!--&lt;!&ndash;                                     class="table table-hover">&ndash;&gt;-->
<!--&lt;!&ndash;                    </ng2-smart-table>&ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--    <div class="col-md-4">-->
<!--        <div class="card border-0 box-shadow" widget>-->

<!--            <mat-tab-group mat-stretch-tabs>-->
<!--                <mat-tab label="Update Roles">-->
<!--                    <div class="text-left pt-2" style="color: green;">-->
<!--                        <p class="text-center" style="font-weight: 700; font-size: 120%">Updated Roles Summary</p>-->
<!--                    </div>-->
<!--                    <hr>-->

<!--                    <div class="card-body pt-0 widget-body pb-1 mb-3 text-center mx-auto">-->

<!--                        <p class="mb-1 text-center"><strong>Added Roles</strong></p>-->

<!--                        <ul style="list-style: none">-->
<!--                            <li *ngFor="let item of allAddedRolesListPending">{{item.name}}-->
<!--                                <button aria-label="Close" class="close" type="button" (click)="returnAddedRole(item)">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                </button>-->
<!--                            </li>-->

<!--                        </ul>-->

<!--                        <p class="mb-1 text-center"><strong>Removed Roles</strong></p>-->
<!--                        <ul style="list-style: none">-->
<!--                            <li *ngFor="let item of allRemovedRolesListPending">{{item.name}}-->
<!--                                <button aria-label="Close" class="close" type="button" (click)="returnRemovedRole(item)">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                </button>-->
<!--                            </li>-->

<!--                        </ul>-->

<!--                        <hr>-->

<!--                        <div class="btn-group mx-auto text-center mb-2" role="group">-->
<!--                            <button class="btn btn-orange-eclectics mr-2" type="button" (click)="changeRolesForProfile()">Submit</button>-->
<!--                            <button class="btn btn-danger" type="button" (click)="resetRolesForProfile()">Reset</button>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                </mat-tab>-->
<!--&lt;!&ndash;                <mat-tab label="Users">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card border-0 box-shadow" widget>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="text-center pt-2" style="color: green; font-family: monospace;">&ndash;&gt;-->
<!--&lt;!&ndash;                            <p style="font-weight: 700; font-size: 120%">Users in Profile</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <hr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="row mb-2">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="col-12">&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="table-responsive table-striped" style="padding: 4px">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <ng2-smart-table class="table table-hover" [settings]="settings" [source]="dataSet"&ndash;&gt;-->
<!--&lt;!&ndash;                                                     (custom)="onCustomAction($event)">&ndash;&gt;-->
<!--&lt;!&ndash;                                    </ng2-smart-table>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->


<!--&lt;!&ndash;                            </div>&ndash;&gt;-->

<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-tab>&ndash;&gt;-->
<!--            </mat-tab-group>-->


<!--        </div>-->

<!--    </div>-->

<!--</div>-->

<div class="row profile-body">
  <!-- left wrapper start -->
  <div class="d-none d-md-block col-md-4 col-xl-4 left-wrapper">
    <div class="card rounded">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <h6 class="card-title mb-0">All Roles</h6>
          <hr>
          <div ngbDropdown>
            <button class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton" ngbDropdownToggle>
              <i class="feather icon-more-horizontal icon-lg text-muted pb-3px"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-edit-2 icon-sm me-2"></i> <span class="">Edit</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-git-branch icon-sm me-2"></i> <span class="">Update</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-eye icon-sm me-2"></i> <span class="">View all</span></a>
            </div>
          </div>
        </div>

        <div class="table table-responsive table-striped table-bordered">
          <ngx-datatable
            #table
            [rows]="pendingDataSet"
            class="bootstrap"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [columns]="columns"
            [limit]="20"
            [rowHeight]="'auto'"
            [selected]="selected"
            [selectionType]="SelectionType.checkbox"
            [selectAllRowsOnPage]="false"
            [displayCheck]="displayCheck"
            (select)="onAddRole($event)"
          >
            <ng-container *ngFor='let column of columns' >

              <ngx-datatable-column
                [width]="60"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true"
              >
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf='column.name == "ROLE NAME"' name="{{column.name}}" prop="{{column.prop}}">
              </ngx-datatable-column>
            </ng-container>

          </ngx-datatable>
        </div>

      </div>
    </div>
  </div>
  <!-- left wrapper end -->
  <!-- middle wrapper start -->
  <div class="col-md-4 col-xl-4 middle-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">

          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-0">Granted Roles</h6>
              <div ngbDropdown>
                <button class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton1" ngbDropdownToggle>
                  <i class="feather icon-more-horizontal icon-lg text-muted pb-3px"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-edit-2 icon-sm me-2"></i> <span class="">Edit</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-git-branch icon-sm me-2"></i> <span class="">Update</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-eye icon-sm me-2"></i> <span class="">View all</span></a>
                </div>
              </div>
            </div>

            <div class="table-responsive table-striped">
              <ngx-datatable
                #table
                [rows]="approvedDataSet"
                class="bootstrap"
                [loadingIndicator]="loadingIndicator"
                [columnMode]="ColumnMode.force"
                [footerHeight]="50"
                [columns]="columns"
                [limit]="20"
                [rowHeight]="'auto'"
                [selected]="selected"
                [selectionType]="SelectionType.checkbox"
                [selectAllRowsOnPage]="false"
                [displayCheck]="displayCheck"
                (select)="onRemoveRole($event)"
              >
                <ng-container *ngFor='let column of columns' >

                  <ngx-datatable-column
                    [width]="60"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                    [headerCheckboxable]="true"
                    [checkboxable]="true"
                  >
                  </ngx-datatable-column>

                  <ngx-datatable-column *ngIf='column.name == "ROLE NAME"' name="{{column.name}}" prop="{{column.prop}}">
                  </ngx-datatable-column>
                </ng-container>

              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- middle wrapper end -->
  <!-- right wrapper start -->
  <div class="d-none d-xl-block col-xl-4">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-0">Updated Roles</h6>
              <div ngbDropdown>
                <button class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton3" ngbDropdownToggle>
                  <i class="feather icon-more-horizontal icon-lg text-muted pb-3px"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-edit-2 icon-sm me-2"></i> <span class="">Edit</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-git-branch icon-sm me-2"></i> <span class="">Update</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i class="feather icon-eye icon-sm me-2"></i> <span class="">View all</span></a>
                </div>
              </div>
            </div>

            <h4 class="text-center mx-auto mb-2"> <u>Updated Roles Summary</u></h4>


            <div class="card-body pt-0 widget-body pb-1 mb-3 text-center mx-auto">

              <p class="mb-1 text-center"><strong>Added Roles</strong></p>

              <table class="text-left" width="100%">
                <tr *ngFor="let item of allAddedRolesListPending">
                  <td style="text-align: left!important;">{{item.name}}</td>
                  <td style="text-align: right!important; cursor: pointer" class="float-right" (click)="returnAddedRole(item)">
                    <ng-container aria-label="Close">
                      <i class="fa fa-times fa-sm text-danger mr-2 text-danger"></i>
                      <span class="text-danger">Remove</span>
                    </ng-container>
                  </td>
                </tr>
              </table>

              <p class="mb-1 text-center"><strong>Removed Roles</strong></p>

              <table class="text-left" width="100%">
                <tr *ngFor="let item of allRemovedRolesListPending">
                  <td style="text-align: left!important;">{{item.name}}</td>
                  <td style="text-align: right!important; cursor: pointer " class="float-right" (click)="returnRemovedRole(item)">
                    <ng-container aria-label="Close">
                      <i class="fa fa-times fa-sm text-danger mr-2 text-danger"></i>
                      <span class="text-danger">Remove</span>
                    </ng-container>
                  </td>
                </tr>
              </table>

              <hr>

<!--              <div class="mx-auto text-center mb-2" role="group">-->

              <div class="row">
                <div class="col-5">
                  <button class="btn btn-primary mr-2 pr-2" type="button" (click)="changeRolesForProfile()">Submit</button>
                </div>

                <div class="col-2"></div>

                <div class="col-5">
                  <button class="btn btn-outline-primary" type="button" (click)="resetRolesForProfile()">Reset</button>
                </div>
              </div>
<!--              </div>-->

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right wrapper end -->
</div>


