.badge {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: var(--dark-purple, #1e0f2e);
    font-size: 17px;
    font-weight: 700;
    font-family: Muli, sans-serif;
}
