.login-btn {
  color: #ffffff;
  background-color: #F7941D;
  border-radius: 64px;
}
.body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.bronchure-btn {
  color: #ffffff;
  background-color: #f7941d;
  border-radius: 8px;
}

.modals {
  border-radius: 8px 8px 8px 8px;
  background: var(--seasalt, #F8F8F8);
}

