<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">All Products</h4>
  </div>

  <div ngbDropdown>
    <button class="btn btn-primary btn-xs" id="dropdownBasic1" ngbDropdownToggle>Select View</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem routerLink="/mobile-banking/products/list-products-as-cards/1">Card View</button>
      <button ngbDropdownItem routerLink="/mobile-banking/products/product/1">Table View</button>
    </div>
  </div>

  <app-table-header
    [allColumns]="allColumns"
    [rows]="rows"
    [title]="title"
    [showAddButton]="true"
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddProductModal()"
  ></app-table-header>

</div>

<!--<app-table-filters-->
<!--[allColumns]="columns">-->
<!--</app-table-filters>-->

<div class="row">
  <div class="col-md-12 stretch-card">

    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-5">Products</h4>
          <owl-carousel-o [options]="autoPlayExampleOptions">
            <ng-template carouselSlide *ngFor="let slide of slidesStore" [id]="slide.id">
              <div class="m-2 p-2">
                <div class="card" style="width: 18rem;">
                   <img class="card-img-top" [src]="domSanitizer.bypassSecurityTrustResourceUrl(slide.productUrl)" alt="slide">
<!--                  <img class="card-img-top" [src]="domSanitizer.bypassSecurityTrustResourceUrl(slide.productUrl)" [alt]="slide.alt">-->
                  <!-- <img class=card-img-top [src]="slide.productUrl"> -->
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                  <div class="card-body">
                    <h5 class="card-title">{{slide.name}}</h5>
                    <p class="card-text">{{slide.description}}</p>
                    <p class="card-text">{{slide.productDescription}}</p>
                    <div class="d-grid gap-2 d-md-block">
                      <a [routerLink]="'/mobile-banking/products/product/' + slide.id" class="btn btn-primary btn-sm">View</a>
                      <a (click)="editProduct(slide)"  class="btn btn-secondary btn-sm">Edit</a>
                      <a (click)="openDeleteModal(slide)" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                  </div>
                </div>
                <!-- <h5 class="text-center">Loan Product</h5> -->
                <!-- <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                <p class="text-center">Here is the product description.</p> -->
              </div>

            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>

  </div>
</div>
