.login-btn {
  color: #ffffff;
  background-color: #F7941D;
  border-radius: 8px;
}

.inputs {
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 8px;
}
.login-row {
  overflow-x: hidden;
  overflow-y: hidden;
  height:110vh;
}
.body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.card-login-container {
  display: flex;
  justify-content: center;
  margin: 16% 10%;
  padding: 19px;
  box-shadow: 0 1px 3px #fcfdfe;
  max-height: 485px;
  background-color: #2268aa !important;
  border-radius: 24px;
}
.card-login {
  color: #f3f6f9;
  width: 100% !important;
}



.my-custom-success-alert {
  border: none;
  color: green;
  background-color: white;
  font-size: 16px;
}

.error-alert{
  border: none;
  color: red;
  background-color: white;
  font-size: 16px;
}
