:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6D36A8;
}
.nav-item{
  position: absolute;
  right:20px;
}
// .auth-side-wrapper{
//   width:fit-content;
// }