<!--<div fxLayout="row" fxLayoutAlign="center center">-->
<!--    <div fxFlex.gt-sm="95.00%" fxFlex="100">-->
<!--        <nz-card [nzBordered]="true" nzTitle="{{cardTitle | uppercase}}" [nzExtra]="extraTemplate" nzSize="large">-->
<!--            <nz-table #basicTable nzSize="small" [nzData]="users"  [nzFrontPagination]="false" [nzBordered]= "true" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="perPage" [nzPageIndex]="page" nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">-->
<!--                <thead>-->
<!--                  <tr>-->
<!--                    &lt;!&ndash; <th class="thead-bold">Username</th> &ndash;&gt;-->
<!--                    <th class="thead-bold">Full Name</th>-->
<!--                    <th class="thead-bold">Email</th>-->
<!--                    <th class="thead-bold">Phone Number</th>-->
<!--                    <th class="thead-bold">Status</th>-->
<!--                    <th class="thead-bold">Blocked</th>-->
<!--                    <th class="thead-bold">Created On</th>-->
<!--                    <th class="thead-bold">Actions</th>-->
<!--                  </tr>-->
<!--                </thead>-->
<!--                <tbody nzSize="small">-->
<!--                  <tr *ngFor="let data of basicTable.data">-->
<!--                    &lt;!&ndash; <td>{{data.userName | titlecase}}</td> &ndash;&gt;-->
<!--                    <td>{{data.firstName | titlecase}}&nbsp;{{data.lastName | titlecase}}</td>-->
<!--                    <td>{{data.email | lowercase}}</td>-->
<!--                    <td>{{data.phoneNumber}}</td>-->
<!--&lt;!&ndash;                    <td><app-blocked-label [labelValue]="data.firstTimeLogin"></app-blocked-label></td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td><app-blocked-status [labelValue]="data.isBlocked"></app-blocked-status></td>&ndash;&gt;-->
<!--                    <td>{{data.createdOn}}</td>-->
<!--                    <td>-->
<!--                        <button nz-button nzSize="small"-->
<!--                        [matMenuTriggerFor]="menu" nzType="primary" nzGhost><mat-icon>settings</mat-icon>-->
<!--                        Actions-->
<!--                        </button>-->
<!--                        <mat-menu #menu="matMenu" [overlapTrigger]="false">-->
<!--                            <button mat-menu-item (click)="viewUser(data)" title="View User Details" aria-describedby="View User Details">-->
<!--                                <mat-icon>remove_red_eye</mat-icon>View-->
<!--                            </button>-->
<!--                            &lt;!&ndash; <button mat-menu-item (click)="editUser(data)" title="Edit User" aria-describedby="Edit User">-->
<!--                                <mat-icon>edit</mat-icon>Edit-->
<!--                            </button> &ndash;&gt;-->
<!--                            <button mat-menu-item title="Revoke User from Profile" aria-describedby="Revoke User from Profile" (click)="decouple(data)">-->
<!--                                <mat-icon>remove_circle_outline</mat-icon>-->
<!--                                Revoke-->
<!--                            </button>-->
<!--                        </mat-menu>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                </tbody>-->
<!--            </nz-table>-->
<!--        </nz-card>-->
<!--        <ng-template #extraTemplate>-->
<!--            &lt;!&ndash; <button nz-button nzType="primary" (click)="triggerModal('')"><mat-icon>face</mat-icon>&nbsp;Add User</button>&nbsp; &ndash;&gt;-->
<!--                <button class="button-9" [matMenuTriggerFor]="menu"><mat-icon> import_export</mat-icon>&nbsp;Export Data</button>-->
<!--                <mat-menu #menu="matMenu" [overlapTrigger]="false">-->
<!--                    &lt;!&ndash; <button mat-menu-item (click)="exporter.exportTable('csv', {fileName: 'Users'})">-->
<!--                        <mat-icon>file_copy</mat-icon>CSV-->
<!--                    </button>-->
<!--                    <button mat-menu-item (click)="exporter.exportTable('xlsx', {fileName: 'Users'})">-->
<!--                        <mat-icon>file_copy</mat-icon>-->
<!--                        XLSX-->
<!--                    </button> &ndash;&gt;-->
<!--                    <button mat-menu-item (click)="exportXLSX()">-->
<!--                        <mat-icon>insert_drive_file</mat-icon>-->
<!--                        XLSX-->
<!--                    </button>-->
<!--                </mat-menu>-->
<!--        </ng-template>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="row">-->
<!--    <div class="col-md-12 ml-4" style="padding: 0">-->
<!--        <div class="card border-0 box-shadow" widget>-->
<!--            <div class="text-center pt-2" style="color: green; font-family: monospace;">-->
<!--                <p style="font-weight: 700; font-size: 120%">Users in Profile</p>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <div class="row mb-2">-->
<!--                <div class="col-12">-->

<!--                    <div class="table-responsive table-striped" style="padding: 4px">-->
<!--                        <ng2-smart-table class="table table-hover" [settings]="settings" [source]="dataSet"-->
<!--                                         (custom)="onCustomAction($event)">-->
<!--                        </ng2-smart-table>-->
<!--                    </div>-->


<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
