.header{
    font-weight: bold;
    color: #00A8E2; 
}
.login-btn {
    color: #ffffff;
    background-color: #F7941D;
    border-radius: 64px;
  }


.changePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 8px 8px 8px 8px;
    width: 400px !important;
  }

  
