#tabz {
    background: whitesmoke;
    .example-tab-icon,
    span {
      //color: black !important;
    }
    span {
      margin-left: 1px;
    }
  }
  .users-container {
    background-color: #FFFFFF;
  }