<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">All Products</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <div class="input-group wd-200 me-2 mb-2 mb-md-0">
    </div>
    <button class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0" type="button">
      <i appFeatherIcon class="btn-icon-prepend" data-feather="printer"></i>
      Download
    </button>
    <button (click)="openAddProductModal(verticalCenteredModal)" class="btn btn-primary btn-icon-text mb-2 mb-md-0"
            type="button">
      <i appFeatherIcon class="btn-icon-prepend" data-feather="plus"></i>
      Add Product
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Products</h6>
        <div class="table-responsive">
          <ngx-datatable
            [rows]="rows"
            class="bootstrap"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [columns]="columns"
            [limit]="10"
            [rowHeight]="'auto'"
          >
            <ngx-datatable-column
              *ngFor="let column of columns; let i = index"
              name="{{ column.name }}"
              prop="{{ column.prop }}"
            >
              <ng-template
                *ngIf="column.name === 'Actions'"
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <span>
                      <button class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0" type="button">
                        <i appFeatherIcon class="btn-icon-prepend" data-feather="printer"></i>
                        View
                      </button>
                      <button class="btn btn-primary btn-icon-text mb-2 mb-md-0" type="button">
                        <i appFeatherIcon class="btn-icon-prepend" data-feather="download-cloud"></i>
                        Edit
                      </button>
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
    <button (click)="modal.close('by: close icon')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="mb-3">
          <label class="form-label">Product Name</label>
          <input class="form-control" formControlName="name" type="text">
          <small *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')" class="text-danger">Required
            Field</small>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="mb-3">
          <label class="text-gray">Description</label>
          <textarea class="form-control" formControlName="description" type="text"></textarea>
          <small *ngIf="form.get('description')?.touched &&
          form.get('description')?.hasError('required')" class="text-danger">Required
            Field</small>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="mb-3">
          <label class="text-gray">Product Image</label>
          <input #fileUpload (change)="onFileChange($event)"
                 accept="image/*"
                 class="form-control"
                 id="file"
                 type="file"
          />
        </div>
      </div>

    </div>


  </div>
  <div class="modal-footer">
    <button (click)="modal.close('by: close button')" class="btn btn-secondary" type="button">Close</button>
    <button (click)="modal.close('by: save button')" class="btn btn-primary" type="button">Save changes</button>
  </div>
</ng-template>
