
<div>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
      <button (click)="closeModal()" aria-label="Close" class="btn-close" type="button"></button>
    </div>
    <div class="modal-body" [formGroup]="form">
      <div class="row g-3">
        <div class="col-md-4">
            <label class="form-label">Mobile Number</label>
            <input class="form-control" formControlName="name" type="text" />
            <small
              *ngIf="
              form.get('name')?.touched &&
              form.get('name')?.hasError('required')
            "
              class="text-danger"
            >Required Field</small
            >
        </div>
        <div class="col-md-4">
          <label class="form-label">National ID</label>
          <input class="form-control" formControlName="name" type="text" />
          <small
            *ngIf="
            form.get('name')?.touched &&
            form.get('name')?.hasError('required')
          "
            class="text-danger"
          >Required Field</small
          >
      </div>
      <div class="col-md-4">
        <label class="form-label">Linked Account</label>
        <input class="form-control" formControlName="name" type="text" />
        <small
          *ngIf="
          form.get('name')?.touched &&
          form.get('name')?.hasError('required')
        "
          class="text-danger"
        >Required Field</small
        >
    </div>
    <div class="col-md-4">
      <label class="form-label">T24 Account Name</label>
      <input class="form-control" formControlName="name" type="text" />
      <small
        *ngIf="
        form.get('name')?.touched &&
        form.get('name')?.hasError('required')
      "
        class="text-danger"
      >Required Field</small
      >
  </div>
  <div class="col-md-4">
    <label class="form-label">T24 Mobile Number</label>
    <input class="form-control" formControlName="name" type="text" />
    <small
      *ngIf="
      form.get('name')?.touched &&
      form.get('name')?.hasError('required')
    "
      class="text-danger"
    >Required Field</small
    >
</div>
<div class="col-md-4">
  <label class="form-label">T24 National ID</label>
  <input class="form-control" formControlName="name" type="text" />
  <small
    *ngIf="
    form.get('name')?.touched &&
    form.get('name')?.hasError('required')
  "
    class="text-danger"
  >Required Field</small
  >
</div>
<div class="col-md-4">
  <label class="form-label">Currency </label>
  <input class="form-control" formControlName="name" type="currency" />
  <small
    *ngIf="
    form.get('name')?.touched &&
    form.get('name')?.hasError('required')
  "
    class="text-danger"
  >Required Field</small
  >
</div>
<div class="col-md-4">
  <label class="form-label">T24 Account Status</label>
  <input class="form-control" formControlName="name" type="text" />
  <small
    *ngIf="
    form.get('name')?.touched &&
    form.get('name')?.hasError('required')
  "
    class="text-danger"
  >Required Field</small
  >
</div>

        <div class="col-sm-4">
          <div class="mb-3">
            <label class="text-gray">T24 Customer ID</label>
            <input
              class="form-control"
              formControlName="name"
              type="text"
           />
            <small
              *ngIf="
              form.get('name')?.touched &&
              form.get('name')?.hasError('required')
            "
              class="text-danger"
            >Required Field</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button (click)="closeModal()" class="btn btn-primary" type="button">Get T24 KYC</button>
      
      <button (click)="closeModal()" class="btn btn-success" type="button">Save Details</button>
    </div>
  </div>
