<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">All Internet Banking Customers</h4>
  </div>
<!-- <div>Total number of Customers: 25000 </div> -->
  <app-table-header
    [allColumns]="allColumns"
    [rows]="rows"
    [title]="title"
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddProductModal()"
  ></app-table-header>

</div>


<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
        <app-custom-ngx-table
          [columns]="columns"
          [rows]="rows"
          (viewEvent)="navigateToViewUssdCustomer($event)"
        ></app-custom-ngx-table>
    </div>
  </div>
</div>
