<div
  class="d-flex justify-content-end align-items-end flex-wrap grid-margin"
>
<!--  <div>-->
<!--    <h4 class="mb-3 mb-md-0">All Workflows</h4>-->
<!--  </div>-->

  <app-table-header
    [allColumns]="allColumns"
    [rows]="rows"
    [title]="title"
    [showAddButton]="true"
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddWorkflowModal()"

  ></app-table-header>

</div>


<div class="row">
  <div class="col-md-12 stretch-card" *ngIf="workflowList$ | async">
    <div class="card" *ngIf="rows.length > 0">
        <app-custom-ngx-table
          [columns]="columns"
          [rows]="rows"
          [actions]="actions"
          [loadingIndicator]="loading"
          (outputEvent)="triggerEvent($event)"
        ></app-custom-ngx-table>
    </div>
  </div>
</div>
