.login-btn {
  color: #ffffff;
  background-color: #f7941d;
  border-radius: 64px;
}
.body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.bronchure-btn {
  color: #ffffff;
  background-color: #f7941d;
  border-radius: 8px;
}
.btn-close::after {
  color: red; /* Set the desired color for the aria-label text */
}

.tab-content{
  background-color: #F8F8F8;
  ;
}
owl-carousel-o  img {
  width: 100% !important;
  height: 300px !important;
}

.carousel-form-container {
  position: relative;
  max-width: 100%;
  height: auto;
}

.carousel-container {
  position: relative;
  max-width: 100%;
  height: auto;
}
