.login-btn {
  color: #ffffff;
  background-color: #f7941d;
  border-radius: 64px;
}
.body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.bronchure-btn {
  color: #ffffff;
  background-color: #f7941d;
  border-radius: 8px;
}
.btn-close::after {
  color: red; /* Set the desired color for the aria-label text */
}

.tab-content{
  background-color: #F8F8F8;
  ;
}
owl-carousel-o  img {
  width: 100% !important;
  height: 300px !important;
}

.carousel-form-container {
  position: relative;
  max-width: 100%;
  height: auto;
}

.carousel-container {
  position: relative;
  max-width: 100%;
  height: auto;
}

/* CSS for centering the form and making it responsive */
.modal-container {
  padding: 10px;
  width: 350px;
  z-index: 10;
  position: fixed;
  margin-top: 70px;
  border-radius: 8px 8px 8px 8px;
}

/* Add media queries for responsive design */
// @media (max-width: 768px) {
//   /* Adjust the width and padding for smaller screens */
//   .modals {
//     max-width: 90%;
//     padding: 10px;
//   }
// }

// @media (max-width: 576px) {
//   /* Adjust the width and padding for even smaller screens */
//   .modals {
//     max-width: 100%;
//     padding: 5px;
//   }
// }



