<div class="body w-100" style="position: relative; background-color: #FFF">
  <div class="home d-flex justify-content-between" style="max-width: 100%; max-height: 72px">
    <div class="d-flex justify-content-around">
       <div class="" style="flex-shrink: 0;">
          <img class="img-fluid" src="assets/images/AU.png" width="350" height="40" alt="eclecticsLogo" />
      </div>
    </div>

    <div>
      <div class="d-flex p-2 justify-content-between" *ngIf="showMenuItems">
        <button class="btn btn-md login-btn transition" type="submit">
          <a routerLink="/auth/login" style="text-decoration: none" class="transition">
            <span>Get Started</span></a>
        </button>
      </div>


      <div class="d-flex p-2 justify-content-between" *ngIf="showDashbord">
        <!-- <div style="margin-top: 6%;">
          <h3 class="header"
            style="color: var(--dark-purple, #1E0F2E);text-align: center;font-family: Muli;font-size: 11px;font-style: normal;font-weight: 700;line-height: normal;text-transform: uppercase;">
            <span>{{profile}}</span>
          </h3>
        </div>
        <div style="margin-top: 3%; margin-left: 5px;">
          <img class="wd-30 ht-30 rounded-circle" src="./assets/images/user.png" alt="profile">
        </div> -->
        <button class="btn btn-sm login-btn transition" type="submit" id="dashboardButton">
          <a routerLink="/dashboard" style="text-decoration: none" class="transition">
            <span>DASHBOARD</span></a><img id="loader" style="display: none;" class="pl-2" src="assets/images/loading.gif" alt="loading-gif">
        </button>
      </div>
    </div>
  </div>
 
  <div class="hero d-flex justify-content-center align-items-center mt-2">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 banking-intro" >
          <h2 class='main-heading mt-4 mb-2'> 
            Audit Management System
            <span class="sub-heading"> <br>
              (AMS) </span> </h2>
              <p class="description">
                Strenghening the internal audit process through transparency,efficiency and a real-time monitoring.</p>
                <div class="d-flex justify-content-between" style="gap: 20px;" *ngIf="showMenuItems">
                  <button class="btn btn-md btn-outline-success transition" [routerLink]="'/auth/login'"> <span>View Dashboard</span></button>
                  <!-- <button class="btn btn-md login-btn transition"  [routerLink]="'/dashboard'"> <span>Try AMS Today</span></button> -->
        </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
          <div style="flex: 1 0 0; aspect-ratio: 515.00/282.06;">
              <img class="img-fluid" src="assets/images/Audit.png" height="300" alt="hero" />
          </div>
      </div>

    </div>

  </div>

  <div class="secure_bank">
    <h2 class="main-title text-center">A Modern Approach to Government Auditing <br>  <span class="subtitle text-center"> Key Benefits of the Audit Management System </span> </h2>
   
  <div class="row mt-4 g-4">
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 px-3">
        <div class="card secure">
           <img class="img-fluid mx-auto d-block mt-4" src="assets/images/icon.png" alt="Bank-Level Security" />
           <h3 class="text-center">Risk-Based Audit Plans</h3>
           <p class="text-center">Execute risk profiling of audit units and prepare data driven annual audit plans to focus on critical areas</p>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 px-3">
        <div class="card secure">
           <img class="img-fluid mx-auto d-block mt-4" src="assets/images/icon.png" alt="AI-Powered" />
          <h3 class="text-center">Streamlined Audit Execution</h3>
          <p class="text-center">Automate daily diary maintainance ,audit para management and generate standardized reports with a clear workflow</p>
        </div>
    </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 px-3">
        <div class="card secure">
           <img class="img-fluid mx-auto d-block mx-auto d-block mt-4" src="assets/images/icon.png" alt="Compliant" />
          <h3 class="text-center">Automated Follow-up & Compliance</h3>
          <p class="text-center">Utilize a mechanism for automated follow-ups ,compliance recording and timely reminders</p>
        </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 px-3">
        <div class="card secure">
          <img class="img-fluid mx-auto d-block mt-4" src="assets/images/icon.png" alt="Secure" />
          <h3 class="text-center">Insightful Reporting & Dashboards</h3>
          <p class="text-center">Generate customized MIS reports and access role-based dashboards for real-time monitoring and controling</p>
        </div>
    </div>
    
  </div>
  </div>

<div class="ready card">
 <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
          <h2 style="color: #394557;text-align: center;font-family: Roboto;font-size: 30px;font-style: normal;font-weight: 600;line-height: 100%; /* 32px */">
        Secure Access for Authorized Personnel
      </h2>
      <p style="color: #6E7B8F;text-align: center;font-family: Roboto;font-size: 20px;font-style: normal;font-weight: 400;line-height: 100%; /* 24px */">
       This system is for authorized use by officials of the Government of Sierra Leone. All activities are monitered and recorded.
      </p>

      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-md open_btn transition" [routerLink]="'/auth/login'"> <span style="color: var(--Light-Mode-Background-Default, #FFF);font-family: Roboto;font-size: 16px;font-style: normal;font-weight: 600;line-height: 100%; /* 16px */">Login to the AMS Portal</span></button>
    </div>
  </div>
</div>
</div>

 <div class="home d-flex justify-content-between" style="max-width: 100%; max-height: 50px">
    <div class="d-flex justify-content-around">
       <div class="" style="flex-shrink: 0;">
          <img class="img-fluid" src="assets/images/AU.png" width="300" height="40" alt="eclecticsLogo" />
      </div>
    </div>

    <div>
      <div class="d-flex p-2 justify-content-between" *ngIf="showMenuItems">
       <p>© 2025 <strong>Government of Sierra Leone</strong>. All Rights Reserved.</p>
      </div>
    </div>
</div>


<script>
  $(document).ready(function() {
    $('#dashboardButton').click(function(e) {
      e.preventDefault(); 

      var $loader = $('#loader');
      $loader.show(); 
      setTimeout(function() {
        $loader.hide();
        window.location.href = $('#dashboardButton a').attr('routerLink');
      }, 3000);
    });
  });
</script>