<div class="body w-100" style="position: relative; background-color: #efefef">
  <div class="d-flex justify-content-between" style="max-width: 100%; max-height: 70px">
    <div class="d-flex justify-content-around" style="margin-left: 40px">
      <div class="p-2">
        <button class="btn btn-md" style="background-color: #6d36a8; color: #f8f8f8; border-radius: 4px">
          <a href="https://www.tra.go.ke/" style="text-decoration: none; text-transform: none" target="_blank"
            class="transition text-light">
            VISIT:WWW.TRA.GO.KE
          </a>
        </button>
      </div>
      <div class="mt-2">
        <img class="img-fluid" src="assets/images/TRA_Logo.png" width="110" height="50" alt="" />
      </div>
    </div>

    <div style="margin-right: 10px">
      <div class="d-flex p-2 justify-content-between">
        <button class="btn btn-md btn-light transition ml-1" type="submit">
          <a routerLink="/auth/activate" style="
              text-decoration: none;
              color: #1e0f2e;
              font-family: 'Muli';
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              letter-spacing: 0.08em;
              border-radius: 8px;
              text-transform: uppercase;
            " class="transition m-1">Sign Up</a>
        </button>
        <button class="btn btn-md login-btn transition" type="submit">
          <a routerLink="/auth/login" style="text-decoration: none" class="transition">
            <span style="
                color: #f8f8f8;
                font-weight: 700;
                letter-spacing: 0.08em;
                font-size: 12px;
              ">SIGN IN</span></a>
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
        <!-- <img class="card-img-top img-fluid" src="assets/images/7.jpg" /> -->
        <div class="card border-0 box-shadow" style="max-width:100% ; height: auto;">
          <div class="">
            <owl-carousel-o [options]="autoPlayOptions">
              <ng-template carouselSlide [width]="630" *ngFor="let slide of slidesStore" [id]="slide.id">
                <div class="w-100 h-90">
                  <img class="card-img-top img-fluid" style="width: 100%; height: auto;" [src]="slide.src"
                    [title]="slide.title">
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-0 box-shadow">
      <div class="mt-2 card-header d-flex justify-content-between" style="padding: 0px 28px">
        <div>
          <h3 class="card-title mt-2" style="
              color: #1e0f2e;
              font-family: 'Muli';
              font-weight: 600;
              font-size: 17px;
            ">
            Standard development is an integral part of sustainable tourism
            development.
          </h3>
        </div>
        <a style="
            cursor: pointer;
            color: #6d36a8;
            font-family: 'Muli';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
          " routerLink="/standards/all-standards">View all Standards</a>
      </div>
      <a href="" routerLink="/standards/Id">
        <div class="card-body p-1">
          <div class="border-0 box-shadow">
            <div class="grid-margin stretch-card">
              <div class="row" style="padding: 0px 30px">
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 mt-3 pt-2" *ngFor="let std of standards">
                  <div class="" [id]="std.id">
                    <div style="position: relative; display: inline-block;">
                      <div>
                        <img class="img-fluid card-img-top"
                          style="height: 95px; border-top-left-radius: 13px; border-top-right-radius: 13px;"
                          [src]="std.icon" />
                      </div>
                      <div
                        style="position: absolute; width: 60px; height: 60px; margin-left: 4%; margin-top: -11%; border-radius: 50%; background-color: #D0DDF0;"
                        class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                      </div>
                    </div>
                    <br><br>
                    <div style="position: relative;">
                      <div class="mt-3">
                        <p style="
                            color: #2268aa;
                            font-family: 'Muli';
                            font-weight: 600;
                            font-size: 15px;
                          " class="h2">
                          {{ std.name }}
                        </p>
                        <!-- <p style="color: #2268AA; font-family: 'Muli';font-weight: 600;font-size: 15px;" class="h2"> <a href="" routerLink="/standards/Id">{{std.name}}</a></p> -->
                      </div>
                      <div class="mt-2">
                        <p style="
                            color: #1e0f2e;
                            font-family: 'Muli';
                            font-weight: 400;
                            font-size: 13px;
                          " class="h3">
                          {{ std.describe }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-12 col-lg-12 col-xl-12 col-sm-12" style="
        background-image: url('assets/images/headerl.png');
        background-repeat: repeat-x;
        background-repeat: repeat-y;
        padding: 40px 50px;
        color: #f8f8f8;
      ">
      <h2 style="
          font-family: 'Mulish';
          line-height: 25px;
          font-weight: 600;
          font-size: 25px;
        ">
        Ignite Success in Tourism: Align with Our Benchmark Minimum Standards.
      </h2>
      <p style="
          font-family: 'Mulish';
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          margin-top: 15px;
        ">
        Access all develop Minimum Standards for regulated tourism enterprises
        in collaboration with stakeholders and relevant agencies. Align with our
        benchmarks to gain a competitive edge, enhance customer satisfaction,
        and experience the transformative power of excellence in tourism.
        Partner with us for a future of unparalleled success.
      </p>
    </div>
  </div>
  <div class="card d-flex justify-content-between" style="
      background-color: #d0ddf0;
      padding: 25px 65px;
    ">
    <div>
      <img class="img-fluid" style="position: absolute; margin-top: 4px" src="assets/images/TRA_Logo.png" width="115"
        height="60" alt="logo" />
    </div>
    <div style="
        font-family: 'Mulish';
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.08em;
        margin-left: 50%;
      ">
      <a routerLink="/" style="text-decoration: none; color: #1e0f2e" class="transition">Home</a>
      <a routerLink="/" class="" style="text-decoration: none; margin: 20px; color: #1e0f2e" class="transition">Tourism
        ACT 2011</a>
      <a routerLink="/" style="text-decoration: none; color: #1e0f2e" class="transition">Tourism Regulations 2014</a>
    </div>
  </div>
</div>