<div class="body w-100" style="position: relative; background-color: #FFF">
  <div class="home d-flex justify-content-between" style="max-width: 100%; max-height: 72px">
    <div class="d-flex justify-content-around">
       <div class="" style="flex-shrink: 0;">
          <img class="img-fluid" src="assets/images/ecl-logo.png" width="350" height="40" alt="eclecticsLogo" />
      </div>
    </div>

    <div>
      <div class="d-flex p-2 justify-content-between" *ngIf="showMenuItems">
        <button class="btn btn-md login-btn transition" type="submit">
          <a routerLink="/auth/signup" style="text-decoration: none" class="transition">
            <span>Get Started</span></a>
        </button>
      </div>


      <div class="d-flex p-2 justify-content-between" *ngIf="showDashbord">
        <!-- <div style="margin-top: 6%;">
          <h3 class="header"
            style="color: var(--dark-purple, #1E0F2E);text-align: center;font-family: Muli;font-size: 11px;font-style: normal;font-weight: 700;line-height: normal;text-transform: uppercase;">
            <span>{{profile}}</span>
          </h3>
        </div>
        <div style="margin-top: 3%; margin-left: 5px;">
          <img class="wd-30 ht-30 rounded-circle" src="./assets/images/user.png" alt="profile">
        </div> -->
        <button style="margin-top: 1%; margin-left: 5px;" class="btn btn-sm login-btn transition" type="submit" id="dashboardButton">
          <a routerLink="/dashboard" style="text-decoration: none" class="transition">
            <span style="
               color: var(--dark-purple, #1E0F2E);text-align: center;font-family: Muli;font-size: 11px;font-style: normal;font-weight: 700;line-height: normal;
              ">DASHBOARD</span></a><img id="loader" style="display: none;" class="pl-2" src="assets/images/loading.gif" alt="loading-gif">
        </button>
      </div>
    </div>
  </div>
 
  <div class="hero d-flex justify-content-center align-items-center mt-2">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 banking-intro" >
          <h2 class='main-heading mt-4 mb-2'> 
            ECLBot AI-Studio Banking
            <span class="sub-heading"> <br>
              Platform </span> </h2>
              <p class="description">
                Build intelligent banking chatbots with advanced AI capabilities. Secure, compliant, and designed for financial institutions.</p>
                <div class="d-flex justify-content-between" style="gap: 20px;" *ngIf="showMenuItems">
                  <button class="btn btn-md login-btn transition" [routerLink]="'/dashboard'"> <span>View Dashboard</span></button>
                  <button class="btn btn-md login-btn transition"  [routerLink]="'/dashboard'"> <span>Try ECL Bot AI-Studio</span></button>
        </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
          <div style="flex: 1 0 0; aspect-ratio: 515.00/282.06;">
              <img class="img-fluid" src="assets/images/image1.png" height="300" alt="hero" />
          </div>
      </div>

      <!-- <ng-container *ngIf="showLeaveCommentForm">
        <div class="modal-container"
          style="display: flex;justify-content: end;align-items: center;position: fixed;width: 100%;height: 100%; z-index: 10;  border-radius: 8px 8px 8px 8px;">
          <div>
            <div class="modals " style="border-radius: 8px 8px 8px 8px;">
              <div style="background: var(--seasalt, #2b2121); border-radius: 8px 8px 8px 8px;">
                <div class="d-flex justify-content-between"
                  style="background-color: #d0ddf0;  font-family: 'Mulish'; font-weight: 900; border-radius:4px;">
                  <h4 class="text-start p-2 mt-2" style="color: #6D36A8; font-size: 19px;">Customer Inquiry</h4>
                  <div>
                    <button type="button" class="btn fs-2" (click)="hideLeaveCommentForm()"
                      style="color: #6D36A8; font-size: 20px; margin-top: -5%;">
                      &times;
                    </button>
                  </div>
                </div>
                <article class="">
                  <form class="mt-1" [formGroup]="form" (ngSubmit)="onleaveComment()" class="row px-3">
                    <div class="tab-content col-12 border-0">
                      <div class="form-group mt-2">
                        <input formControlName="name" type="text" class="form-control validation-field border-0" id="name"
                          placeholder="Your Name or Company*">
                        <small class="text-danger" *ngIf="f.name.touched && f.name.errors?.required">Field
                          Required</small>
                      </div>
                      <div class="form-group mt-2">
                        <input formControlName="email" type="email" class="form-control validation-field border-0"
                          id="email" placeholder="Your email address*">
                        <small class="text-danger" *ngIf="f.email.touched && f.email.errors?.required">Field
                          Required</small>
                        <small class="text-danger" *ngIf="f.email.touched && f.email.errors?.email">Email Format
                          Required</small>
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" name="tel" formControlName="phone_number" id="phoneNumber"
                          placeholder="Phone Number*" class="form-control validation-field border-0 w-100" ng2TelInput
                          data-initial-country="ke">
                        <small class="text-danger" *ngIf="f.phone_number.touched && f.phone_number.errors?.required">Field
                          Required</small> <br>
                        <small class="text-danger"
                          *ngIf="f.phone_number.touched && f.phone_number.errors?.invalidPhoneNumber">Phone Number: 254 *** *** *** or 07 **** ****</small>
                      </div>
                      <div class="form-group mt-2">
                        <input formControlName="subject" type="text" class="form-control validation-field border-0"
                          id="occupation" placeholder="Subject">
                        <small class="text-danger" *ngIf="f.subject.touched && f.subject.errors?.required">Field
                          Required</small>
                      </div>
                      <div class="form-group mt-2">
                        <textarea formControlName="message" type="text" id="message" cols="15" rows="3"
                          placeholder="Message" class="form-control validation-field border-0"></textarea>
                        <small class="text-danger" *ngIf="f.message.touched && f.message.errors?.required">Field
                          Required</small>
                      </div>
                      <div class="col-12 bg-white text-center py-1 mt-3 mb-2">
                        <button [disabled]="!form.valid" style="width: 100%; border: none;"
                          class="btn btn-block bronchure-btn transition" type="submit">
                          <span style="color: white;">SEND</span><img *ngIf="isLoading" class="pl-2" src="assets/images/loading.gif" alt="loading-gif">
                        </button>
                      </div>
                    </div>
                  </form>
                </article>
              </div>
            </div>
          </div>
        </div>
      </ng-container> -->

      <!-- <div class="card border-0 box-shadow">
        <div class="mt-3 card-header d-flex justify-content-between" style="padding: 0% 6%">
          <div class="card-title">
            <h3 class="mt-2" style="
                color: #6D36A8;
                font-family: 'Muli';
                font-weight: 600;
                font-size: 19px;
                text-transform: none;
              ">
              Standard development is an integral part of sustainable tourism
              development.
            </h3>
          </div>
          <a style="
              cursor: pointer;
              color: #6d36a8;
              font-family: 'Muli';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
            " routerLink="/standards/all-standards">View all Standards</a>
        </div>
        <div>
          <div id="vizContainer" style="width: 800px; height: 600px;">
            <div class="dashboard-embed">
              <!-- <h2>Tableau Dashboards</h2> --
              <div *ngFor="let url of safeUrls">
                <iframe [src]="url" width="800" height="600" frameborder="0"></iframe>
              </div>
            </div>

          </div>

        
          
          
        </div>
        <div class="card-body" style="padding: 0% 6%">
          <div class="border-0 box-shadow">
            <div class="grid-margin stretch-card">
              <div class="row">
                <ng-container *ngFor="let std of standards">
                  <div [ngClass]="getColumnClass(standards.length)" class="mt-3 pt-2">
                    <div style="height:25%;" [id]="std.id" (click)="viewStandard(std.id)">
                      <div style="position: relative; display: inline-block;">
                        <div class="w-100">
                          <img class="img-fluid card-img-top" [src]="std.existingImage"
                            style="height: 90px; width: 600px; border-top-left-radius: 13px; border-top-right-radius: 13px;" />
                          <!-- <img class="img-fluid card-img-top"
                      style="min-height: 95px; max-width: 100%; border-top-left-radius: 13px; border-top-right-radius: 13px;"
                      src="assets/images/3.png" alt=""> --
                        </div>
                        <div
                          style="position: absolute; width: 50px; height: 50px; margin-left: 4%; margin-top: -8%; border-radius: 50%; background-color: #D0DDF0;"
                          class="d-flex justify-content-center align-items-center border-0 box-shadow">
                          <img class="img-fluid" [src]="std.existingIcon" [style.width]="std.iconWidth" [style.height]="std.iconHeight" />
                          <!-- <img class="img-fluid" style="width: 40px; height: 30px;" [src]="std.existingIcon" /> --
                        </div>
                      </div>
                      <br><br><br>
                      <div style="position: relative;">
                        <div class="mt-3">
                          <p style="
                          color: #2268aa;
                          font-family: 'Muli';
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 21px;
                        " class="h2">
                            {{ std.title }}
                          </p>
                          <!-- <p style="color: #2268AA; font-family: 'Muli';font-weight: 600;font-size: 15px;" class="h2"> <a href="" routerLink="/standards/Id">{{std.name}}</a></p> --
                        </div>
                        <div class="">
                          <p style="
                          color: #1e0f2e;
                          font-family: 'Muli';
                          font-weight: 400;
                          font-size: 12px;
                          line-height: 21px;
                        " class="h3">
                            {{ std.description }}
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </ng-container>
                <!-- <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3  mt-3 pt-2" *ngFor="let std of standards">
                
                </div> --
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

  </div>

  <div class="secure_bank">
    <h2 class="main-title text-center">Why Choose EcleBot AI-Studio? <br>  <span class="subtitle text-center"> Built with cutting-edge technology and industry-leading security standards </span> </h2>
   
  <div class="row mt-4 g-4">
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 px-3">
        <div class="card secure">
           <img class="img-fluid mx-auto d-block mt-4" src="assets/images/icon.png" alt="Bank-Level Security" />
           <h3 class="text-center">Bank-Level Security</h3>
           <p class="text-center">Advanced encryption and security measures to protect your data</p>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 px-3">
        <div class="card secure">
           <img class="img-fluid mx-auto d-block mt-4" src="assets/images/icon.png" alt="AI-Powered" />
          <h3 class="text-center">AI-Powered</h3>
          <p class="text-center">Advanced AI capabilities for personalized banking experiences.</p>
        </div>
    </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 px-3">
        <div class="card secure">
           <img class="img-fluid mx-auto d-block mx-auto d-block mt-4" src="assets/images/icon.png" alt="Compliant" />
          <h3 class="text-center">Compliant</h3>
          <p class="text-center">Adheres to all regulatory standards for financial institutions.</p>
        </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 px-3">
        <div class="card secure">
          <img class="img-fluid mx-auto d-block mt-4" src="assets/images/icon.png" alt="Secure" />
          <h3 class="text-center">Secure</h3>
          <p class="text-center">Robust security measures to protect your data and transactions.</p>
        </div>
    </div>
    
  </div>
  </div>

<div class="ready card">
 <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
          <h2 style="color: #394557;text-align: center;font-family: Roboto;font-size: 30px;font-style: normal;font-weight: 600;line-height: 100%; /* 32px */">
        Ready to Get Started?
      </h2>
      <p style="color: #6E7B8F;text-align: center;font-family: Roboto;font-size: 20px;font-style: normal;font-weight: 400;line-height: 100%; /* 24px */">
       Join millions of users who trust SecureBank with their financial future. Sign up today and experience the future of banking.
      </p>

      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-md open_btn transition" [routerLink]="'/auth/signup'"> <span style="color: var(--Light-Mode-Background-Default, #FFF);font-family: Roboto;font-size: 16px;font-style: normal;font-weight: 600;line-height: 100%; /* 16px */">Open Your Account Today</span></button>
    </div>
  </div>
</div>
</div>

 <div class="home d-flex justify-content-between" style="max-width: 100%; max-height: 50px">
    <div class="d-flex justify-content-around">
       <div class="" style="flex-shrink: 0;">
          <img class="img-fluid" src="assets/images/ecl-logo.png" width="300" height="40" alt="eclecticsLogo" />
      </div>
    </div>

    <div>
      <div class="d-flex p-2 justify-content-between" *ngIf="showMenuItems">
       <p>© 2025 <strong>ECLBot AI Studio</strong>. Where Human Insight Meets AI Precision.</p>
      </div>
    </div>
</div>


<script>
  $(document).ready(function() {
    $('#dashboardButton').click(function(e) {
      e.preventDefault(); 

      var $loader = $('#loader');
      $loader.show(); 
      setTimeout(function() {
        $loader.hide();
        window.location.href = $('#dashboardButton a').attr('routerLink');
      }, 3000);
    });
  });
</script>