<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0" style="font-weight: 700; font-size: 120%" class="text-center">Task Name: {{workflowItemData?.name}}</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">


    <div class="input-group wd-200 me-2 mb-2 mb-md-0"></div>

    <div class="d-flex align-items-center justify-content-between">
      <button
        class="btn btn-primary btn-icon-text mb-2 mb-0 btn-xs mr-2"
        type="button"
        (click)="approveTask()"
      >
        <i appFeatherIcon class="btn-icon-prepend" data-feather="plus"></i>
        Approve
      </button>
      <div class="col-1"></div>
      <button
        class="btn btn-danger btn-icon-text mb-2 mb-0 btn-xs"
        type="button"
        (click)="rejectTask()"
      >
        <i appFeatherIcon class="btn-icon-prepend" data-feather="minus"></i>
        Reject
      </button>
    </div>


  </div>


</div>

<ul ngbNav #fillJustifyNav="ngbNav" class="nav-tabs nav-fill mb-4">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Home</a>
    <ng-template ngbNavContent>
      <h6 class="mb-2">Home</h6>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Profile</a>
    <ng-template ngbNavContent>
      <h6 class="mb-2">Profile</h6>
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
        farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
    </ng-template>
  </li>
</ul>


<div class="row">

  <div class="col-md-6">
    <div class="card border-0 box-shadow" widget>
      <div class="text-center pt-2 ml-4 list-group list-group-flush" style="color: green;">
        <p style="font-weight: 700; font-size: 120%">Previous Details</p>
      </div>
      <hr>
      <div class="card-body pt-0 widget-body">


        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Workflow Name:
            <span class="text-right">Create Signatory</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Workflow Role:
            <span class="text-right">Create Signatory</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Created On:
            <span class="text-right">22-05-2023</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Status:
            <span>Active</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Desc:
            <span>Create signatory Description</span>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card border-0 box-shadow" widget>
      <div class="text-center pt-2 ml-4 list-group list-group-flush" style="color: green;">
        <p style="font-weight: 700; font-size: 120%">Current Details</p>
      </div>
      <hr>
      <div class="card-body pt-0 widget-body">


        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Workflow Name:
            <span class="text-right">Create Signatory</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Workflow Role:
            <span class="text-right">Create Signatory</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Created On:
            <span class="text-right">22-05-2023</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Status:
            <span>Active</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Desc:
            <span>Create signatory Description</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    Workflow Item Summary
    Stage:

    Approvers Timeline

    <p>- Mike</p>
    <p>- Dan</p>
    <p>- Kev</p>
    <p>- Muthui</p>
    <p>- Nancy</p>

  </div>
</div>



