<div>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
    <button (click)="closeModal()" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div [formGroup]="form" class="modal-body">
    <div class="row g-3">

      <div class="col-12">
        <label class="form-label">Workflow Name</label>
        <input class="form-control" formControlName="name" type="text"/>
        <small
          *ngIf="
            form.get('name')?.touched &&
            form.get('name')?.hasError('required')
          "
          class="text-danger"
        >Required Field</small
        >
      </div>
      <div class="col-12">

        <label class="form-label">Process</label>
        <select class="form-select" formControlName="process" type="text">
          <option disabled hidden selected>Select Process Name</option>
          <option
            *ngFor="let process of allProcesses"
            [value]="process">
            {{process}}
          </option>
        </select>
        <!-- <select class="form-select" formControlName="process">
          <option selected disabled hidden>Select Process Name </option>
          <option> Create Mandate </option>
          <option> Update Mandate </option>
        </select> -->

      </div>

      <div class="col-12">
        <label class="text-gray">Remarks</label>
        <textarea
          class="form-control"
          formControlName="remarks"
          type="text"
        ></textarea>
        <small
          *ngIf="
              form.get('remarks')?.touched &&
              form.get('remarks')?.hasError('required')
            "
          class="text-danger"
        >Required Field</small>
      </div>

      <div class="col-md-4 mt-4">
        <label class="form-label">Workflow Status</label>

        <div class="form-check form-switch mb-2">
          <input class="form-check-input" formControlName="status" id="formSwitch1" type="checkbox">
          <label class="form-check-label"
                 for="formSwitch1">{{form.get('status')?.value ? "ACTIVE" : "INACTIVE"}}</label>
        </div>

        <br>
        <small
          *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')"
          class="text-danger">Required Field</small>
      </div>

    </div>
    <div class="modal-footer">
      <button (click)="closeModal()" class="btn btn-secondary" type="button">Close</button>
      <button (click)="submitData()" *ngIf="!this.formData" class="btn btn-primary" type="button">Create workflow
      </button>
      <button (click)="submitData()" *ngIf="this.formData" class="btn btn-primary" type="button">Save Changes</button>
    </div>
  </div>
