<div class="row inbox-wrapper">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 border-end-lg">
              <div class="d-flex align-items-center justify-content-between">


                <button (click)="openAddProductSubcategoryModal(verticalCenteredModal)" aria-controls="asideNav"
                        class="navbar-toggle btn btn-icon border d-inline-flex d-lg-none" type="button">
                  <i appFeatherIcon class="btn-icon-prepend" data-feather="plus"></i> Button
                </button>
                <!-- <div class="order-first">
                  <h4>Loan Products</h4>
                </div> -->
                 <img class="profile-pic" src="assets/images/profile.png"/>
              </div>

              <div [ngbCollapse]="isAsideNavCollapsed" class="email-aside-nav" id="asideNav">

                <hr>
                <ul class="nav flex-column">
                  <li [ngClass]="{'active': inbox.isActive}" class="nav-item">
                    <a #inbox="routerLinkActive" class="nav-link d-flex align-items-center"
                       routerLinkActive="active">
                      Email
                    </a>
                  </li>
                  <li class="nav-item">
                    <a (click)="false" class="nav-link d-flex align-items-center">
                      Phone Number
                    </a>
                  </li>
                </ul>
                <hr>
              </div>

              <div class="d-grid my-3">
                <a class="btn btn-primary" (click)="openChangeProfileModal(verticalCenteredModal)">
                  <i class="mdi mdi-account-edit-outline"></i>
                  Change Profile
              </a>
              </div>
              <div class="d-grid my-3">

                <a class="btn btn-primary" (click)="openResetPasswordModal(ResetPasswordModal)">
                  <i class="mdi mdi-lock-reset"></i>
                  Reset Password</a>
              </div>
              <div class="d-grid my-3">
                <a class="btn btn-danger" (click)="openDisableUserModal()">
                  <i class="mdi mdi-account-cancel-outline"></i>
                  Block/ Disable User</a>
              </div>
              <div class="d-grid my-3">
                <a class="btn btn-danger" (click)="openDeleteUserModal()">
                  <i class="mdi mdi-account-remove-outline"></i>
                  Delete User</a>
              </div>

            </div>
            <div class="col-lg-9">
              <div class="mt-2">
                <h5>{{subcategoryTitle}}</h5>
                <hr/>
                <div class="media mb-4 mt-1">
  <!--                <img alt="Generic placeholder image" class=" mr-2 rounded-circle avatar-lg"-->
  <!--                     src="assets/images/users/avatar-2.jpg">-->
                  <div class="media-body">
                  <span class="float-right">
                    <!-- <button (click)="openEditProductSubcategoryModal(verticalCenteredModal)" class="btn btn-success width-sm mt-1"
                            type="button">Edit Product</button> -->
                  </span>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12 stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h6 class="card-title">Audit Trail</h6>
                          <div class="table-responsive">
                            <ngx-datatable
                              [rows]="rows"
                              class="bootstrap"
                              [loadingIndicator]="loadingIndicator"
                              [columnMode]="ColumnMode.force"
                              [footerHeight]="50"
                              [columns]="columns"
                              [limit]="10"
                              [rowHeight]="'auto'"
                            >
                              <ngx-datatable-column
                                *ngFor="let column of columns; let i = index"
                                name="{{ column.name }}"
                                prop="{{ column.prop }}"
                              >
                                <ng-template
                                  *ngIf="column.name === 'Actions'"
                                  let-row="row"
                                  let-value="value"
                                  ngx-datatable-cell-template
                                >
                                  <span>
                                        <button class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0" type="button">
                                          <i appFeatherIcon class="btn-icon-prepend" data-feather="printer"></i>
                                          View
                                        </button>
                                        <button class="btn btn-primary btn-icon-text mb-2 mb-md-0" type="button">
                                          <i appFeatherIcon class="btn-icon-prepend" data-feather="download-cloud"></i>
                                          Edit
                                        </button>
                                  </span>
                                </ng-template>
                              </ngx-datatable-column>
                            </ngx-datatable>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                <hr/>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #ResetPasswordModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
      <button (click)="modal.close('by: close icon')" aria-label="Close" class="btn-close" type="button"></button>
    </div>
    <div class="modal-body">
      <div class="row ">

          <div class="col-md-12">
            <div class="mb-3">
              <p> Do you want to Reset this User's Password?</p>
            </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button (click)="modal.close('by: close button')" class="btn btn-secondary" type="button">Close</button>
        <button (click)="modal.close('by: save button')" class="btn btn-primary" type="button">Confirm</button>
      </div>

  </ng-template>
  <ng-template #DisableUserModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Disable User</h5>
      <button (click)="modal.close('by: close icon')" aria-label="Close" class="btn-close" type="button"></button>
    </div>
    <div class="modal-body">
      <div class="row ">

          <div class="col-md-12">
            <div class="mb-3">
              <p class="form-label">Do you want to Disable this User?</p>
            </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button (click)="modal.close('by: close button')" class="btn btn-secondary" type="button">Close</button>
        <button (click)="modal.close('by: save button')" class="btn btn-primary" type="button">Confirm</button>
      </div>

  </ng-template>

  <ng-template #verticalCenteredModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Change Profile</h5>
      <button (click)="modal.close('by: close icon')" aria-label="Close" class="btn-close" type="button"></button>
    </div>
    <div class="modal-body">
      <div class="row ">

          <div class="col-md-12">
            <div class="mb-3">
              <label class="form-label">Profile Name</label>
              <select class="form-select" formControlName="name" maxlength="24" type="text">
                <option></option>
              <p *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')"
                 class="text-danger mt-1 mb-1 pt-0 small text-center">Required
                Field</p>
                </select>
            </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button (click)="modal.close('by: close button')" class="btn btn-secondary" type="button">Close</button>
        <button (click)="modal.close('by: save button')" class="btn btn-primary" type="button">Save changes</button>
      </div>

  </ng-template>
