<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">All Product Categories</h4>
  </div>
  <app-table-header
    [allColumns]="allColumns"
    [rows]="rows"
    [title]="title"
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddProductModal()"
  ></app-table-header>

</div>

<!--<div class="row">-->
<!--  <div class="col-md-12 stretch-card">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h6 class="card-title text-center mx-auto">Filters</h6>-->
<!--          <div class="row">-->
<!--            <div class="col-sm-6">-->
<!--              <div class="mb-3">-->
<!--                <label class="form-label">Select Field</label>-->
<!--                <select class="form-select" id="exampleFormControlSelect1">-->
<!--                  <option>No Filter Column</option>-->
<!--                  <option>Product Name</option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="mb-3">-->
<!--                <label class="form-label text-center">Filter String</label>-->
<!--                <input-->
<!--                  (keyup)="updateFilter($event)"-->
<!--                  class="form-control"-->
<!--                  placeholder="Type your text to filter."-->
<!--                  type="text"-->
<!--                />-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <app-custom-ngx-table
          [columns]="columns"
          [rows]="rows"
          [hasViewAndEdit]="true"
          (viewEvent)="navigateToViewProduct($event)"
          (editEvent)="openEditProductModal($event)"

        ></app-custom-ngx-table>
      </div>
    </div>
  </div>
</div>
