<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
  <button (click)="closeModal()" aria-label="Close" class="btn-close" type="button"></button>
</div>
<div class="modal-body" [formGroup]="workflowForm">
<div class="row">
  <div class="col-md-12">
    <label class="form-label fw-bold">Step Number</label>
    <input class="form-control" formControlName="stepNumber" type="text"/>
  </div>
  <div class="col-md-12">
    <label class="form-label fw-bold">Step Name</label>
    <input class="form-control" formControlName="stepName" type="text"/>
  </div>
  <div class="col-md-12">
    <label class="form-label fw-bold">Remarks</label>
    <input class="form-control" formControlName="remarks" type="text"/>
  </div>
  <div class="col-md-12">
    <label class="form-label fw-bold">Required Profile</label>
    <select
          class="form-select"
          formControlName="requiredRoleId"
          id="profile"
          name="profile"
        >
          <option *ngFor="let profile of allProfiles" [value]="profile.id">
            {{profile.name | titlecase}}
          </option>
        </select>
  </div>
  <!-- <div class="col-md-12">
    <label class="form-label">Notification Email</label>
    <input class="form-control" formControlName="notificationEmail" type="email"/>
  </div>
  <div class="col-md-12">
    <label class="form-label">Notification Email Message</label>
    <textarea class="form-control" formControlName="notificationEmailMessage" type="text">
      </textarea>
  </div> -->
  <!-- <div class="col-md-6 mt-4">
    
    <label class="form-label">Authorized Profiles </label>
        <ng-select
          [items]="profiles"
          [multiple]=true
          [closeOnSelect]="false"
          [searchable]="false"
          bindLabel="name"
          placeholder="Select profile"
          [(ngModel)]="selectedprofiles">
        </ng-select>  
  </div> 
  <div class="col-md-6 mt-4">
    <label class="form-label">Authorized Users </label>
        <ng-select
          [items]="users"
          [multiple]=true
          [closeOnSelect]="false"
          [searchable]="false"
          bindLabel="name"
          placeholder="Select user"
          [(ngModel)]="selectedroles">
        </ng-select>  
      </div> -->
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="form-check form-switch mb-2">
          <input type="checkbox" class="form-check-input" id="formSwitch1" formControlName="status">
          <label class="form-check-label fw-bold" for="formSwitch1 ">Send SMS</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-check form-switch mb-2">
          <input type="checkbox" class="form-check-input" id="formSwitch1" formControlName="status">
          <label class="form-check-label fw-bold" for="formSwitch1 ">Send EMAIL</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-check form-switch mb-2">
          <input type="checkbox" class="form-check-input" id="formSwitch1" formControlName="status">
          <label class="form-check-label fw-bold" for="formSwitch1 ">ACTIVE</label>
        </div>
      </div>
    </div>
    

    

    <!-- <div class="col-md-4 mt-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="inlineRadio1" name="inlineRadioOptions" type="checkbox" value="option1">
        <label class="form-check-label" for="inlineRadio1">Send SMS</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="inlineRadio2" name="inlineRadioOptions" type="checkbox" value="option2">
        <label class="form-check-label" for="inlineRadio2">Active</label>
      </div>
      <small
        *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')"
        class="text-danger"
      >Required Field</small
      >
    </div> -->
  </div> <!-- col -->
<div class="modal-footer">
  <button (click)="closeModal()" class="btn btn-secondary" type="button">Close</button>
  <button (click)="submitData()"  *ngIf="!this.formData"  class="btn btn-primary" type="button">Create Step</button>
  <button (click)="submitData()"  *ngIf="this.formData"  class="btn btn-primary" type="button">Edit Step</button>
</div>