<div
  class="d-flex  justify-content-between flex-wrap grid-margin">
  <h4 class="mb-3 mb-md-0">All Work-Items</h4>

  <div
    class="d-flex justify-content-end align-items-end flex-wrap grid-margin"
  >
    <app-table-header
      [allColumns]="allColumns"
      [rows]="rows"
      [title]="title"
      (changeColumnsEvent)="updateColumns($event)"
    ></app-table-header>
  </div>
</div>





<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card" *ngIf="rows.length > 0">
        <app-custom-ngx-table
          [columns]="columns"
          [rows]="rows"
          [actions]="actions"
          [loadingIndicator]="loading"
          (outputEvent)="triggerEvent($event)"
          (viewEvent)="navigateToViewProduct($event)"
        ></app-custom-ngx-table>
    </div>
  </div>
</div>
