<div class="container-fluid">

  <app-page-title [title]="mainProduct.productName" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <!-- Right Sidebar -->
  <div class="row">
    <div class="col-lg-12">
      <div class="email-container">
        <!-- Left sidebar -->
        <div class="inbox-leftbar">

          <div class="text-left">
            <img class="profile-pic text-center" src="assets/img/logos/person.png"/>
          </div>

          <hr>

          <table class="table-responsive text-center mb-2">
<!--            <p><strong>Status: </strong>{{ currentUser?.blocked == true ? 'Inactive': 'Active' }}</p>-->

          </table>

          <h6 class="text-left font-size-16 mt-0 mb-2"><u>Loan Products</u></h6>
          <div class="mail-list" *ngFor="let list of myProductList">
            <a href="javascript: void(0);" class="list-group-item border-0"
               [ngClass]="{'text-danger font-weight-bold': list.text === 'danger'}" (click)="getDetails(list)">
              <i class="{{list.icon}} font-size-15 mr-1"></i>{{list.name}}
              <span class="badge bagde-danger float-right ml-2 mt-1" [ngClass]="
                        {
                          'badge-danger': list.text === 'danger',
                          'badge-info': list.text === 'info'
                        }">{{list.value}}</span>
            </a>
          </div>
          <hr>
          <div class="text-left mb-2">
            <button type="button" class="btn btn-md btn-primary" (click)="openModal('')">
              <i class="uil-plus mr-1"></i>Add Loan Product
            </button>
          </div>

<!--          <a routerLink="/email-compose" class="btn btn-danger btn-block mb-4">Compose</a>-->

        </div>
        <!-- End Left sidebar -->

        <div class="inbox-rightbar p-4">
          <div class="mt-2">
            <h5>{{subcategoryTitle}}</h5>

            <hr />

            <div class="media mb-4 mt-1">
              <img class=" mr-2 rounded-circle avatar-lg" src="assets/images/users/avatar-2.jpg"
                   alt="Generic placeholder image">
              <div class="media-body">
                <span class="float-right">
                  <button type="button" class="btn btn-success width-sm mt-1" (click)="openModal('')">Edit Product</button>
                </span>
<!--                <h6 class="m-0 font-14">XXX</h6>-->
<!--                <small class="text-muted">Product Image</small>-->
              </div>
            </div>

            <h6 class="text-left font-size-16 mt-0 mb-2">Product Name</h6>
            <p>{{productDetails?.productName}}</p>

            <h6 class="text-left font-size-16 mt-0 mb-2">Short Description</h6>
            <div class="text-muted">
              <p>{{productDetails?.shortDescription}}</p>
            </div>
            <h6 class="text-left font-size-16 mt-0 mb-2">Long Description</h6>
            <div class="text-muted">
              <p>{{productDetails?.longDescription}}</p>
            </div>

            <h6 class="text-left font-size-16 mt-0 mb-2">Requirements</h6>


            <ul style="list-style-type: none;">
              <li *ngFor="let item of ['Minimum Salary KES 15,000 per month', 'Repayment period 1 month']">
                <input type="checkbox" class="mr-2 pr-2">
                <span class="cut-with-dots">{{item}}</span>
              </li>
            </ul>


            <h6 class="text-left font-size-16 mt-0 mb-2">Features</h6>
            <ul style="list-style-type: none;">
              <li *ngFor="let item of ['Get access up to 70% of your monthly salary']">
                <input type="checkbox" class="mr-2 pr-2">
                <span class="cut-with-dots">{{item}}</span>
              </li>
            </ul>

            <hr />

          </div> <!-- card-box -->


        </div>
        <!-- end inbox-rightbar-->

        <div class="clearfix"></div>
      </div>

      <!-- end card -->
    </div> <!-- end Col -->

  </div><!-- End row -->
</div>
