<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/tra-client/requests/all">All Requests</a></li>
    <!-- <li class="breadcrumb-item"><a [routerLink]="'/mobile-banking/products/list-products-as-cards/'+ categoryId">View Products</a></li> -->
    <li class="breadcrumb-item active" aria-current="page">View Request</li>
  </ol>
</nav>
<!-- <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin mt-3">
  <div>
    <h4 class="mb-3 mb-md-0" style="color: var(--dark-purple, #1E0F2E);font-family: Muli;font-size: 20px;font-style: normal;font-weight: 700;line-height: 26px; ">Unlocking Efficiency with Customer Care Self Service</h4>
  </div>
</div> -->

<div class="card" style="position: relative;">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
      <div class="card border-0 box-shadow">
         <img class="card-img-top img-fluid" style="max-width:100% ; height: 350px ; border-radius: 16px;" src="assets/images/requests.png" />
      </div>
    </div>
  </div>

  <div style=" position:absolute; padding: 16px 24px; align-items: center; border-radius: 16px; background: #FFF; width: 90%; margin-left: 5%; margin-top: 31%;">
    <div class="d-flex justify-content-around" >
      <!-- <div>
        <p class="title">Enterprise Class</p>
        <h2 class="content">{{requestDetails?.subClass?.enterprise?.class_name}}</h2>
      </div>
      <div>
        <p class="title">Enterprise Category</p>
        <h2 class="content">{{requestDetails?.subClass?.sub_class}}</h2>
      </div> -->
      <div>
        <p class="title">Request Type</p>
        <h2 class="content">{{requestDetails?.request_type}}</h2>
      </div>
      <div>
        <p class="title">Request Number</p>
        <h2 class="content">{{requestDetails?.ref_number}}</h2>
      </div>
      <div>
        <p class="title">Status</p>
        <h2 class="content">{{requestDetails?.status}}</h2>
      </div>
      <!-- <div style="margin-top: 3%;">
        <button class="btn btn-md login-btn transition" (click)="raiseAppeal()"  type="submit">
          <a  style="text-decoration: none" class="transition">
            <span style="color: #f8f8f8; font-weight: 700;letter-spacing: 0.08em;font-size: 12px;
            ">APPEAL</span></a>
        </button>
      </div> -->
    </div>
  </div>

  <div style="align-items: center; border-radius: 16px; background: #D0DDF0; width: 90%; margin-left: 5%; margin-top: 10%;">
    <div class="d-flex justify-content-around" style="padding: 24px 24px;" >
      <div>
        <div class="card border-0 box-shadow" style="height: 100px ; width: 150px;" >
          <img class="card-img-top img-fluid" style="height: 100px; width: 150px;" src="assets/images/certificate.png" />
       </div>
      </div>
      <div style="font-family: Mulish;font-style: normal;font-weight: 600;line-height: normal;">
        <p style="color: var(--dark-purple, #1E0F2E);font-size: 15px;">Cert No: 29BC4XYZ89</p>
        <h2 style="color: var(--green-blue, #2268AA);font-size: 17px;">Tourism Regulatory Authority (TRA) <b>Accreditation Certificate Earned</b></h2>
        <h4 style="color: var(--dark-purple, #1E0F2E);font-size: 17px;">Certificate expires | 24th September 2024 </h4>
      </div>
      <!-- <div style="margin-top: 3%;">
        <button class="btn btn-md login-btn transition"  type="submit">
          <a  style="text-decoration: none" class="transition">
            <span style="color: #f8f8f8; font-weight: 700;letter-spacing: 0.08em;font-size: 12px;
            ">DOWNLOAD</span></a>
        </button>
      </div> -->
    </div>
  </div>
</div>
<br>
<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
  <p class="text-muted mb-1 mb-md-0">Copyright © 2023 <a href="https://www.tra.go.ke/" style="color: #6d36a8; font-family: 'Muli';" target="_blank">TRA</a></p>
  <p class="" style="color: #6d36a8; font-family: 'Muli'; font-style: normal; font-weight: 700; font-size: 13px; letter-spacing: 0.08em;">Tourism Regulatory Authority</p>
</footer>



