<div>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
      <button (click)="closeModal()" aria-label="Close" class="btn-close" type="button"></button>
    </div>
    <div class="modal-body" [formGroup]="form">
      <div class="row g-3">
        <div class="col-md-12">
          <label class="text-gray">Change User Profile</label>
        
          <select
            class="form-select"
            formControlName="profile"
            id="profile"
            name="profile"
          >
            <option *ngFor="let profile of allProfiles" [value]="profile.id">
              {{profile.name | titlecase}}
            </option>
          </select>
        </div>
  
      </div>
    </div>
    <div class="modal-footer">
      <div class="mb-1 text-center" *ngIf="changeProfile$ | async">
        <ngb-alert [type]="'success'" (close)="false">
          <strong>Changed Successful!</strong>
        </ngb-alert>
      </div>
      <button (click)="closeModal()" class="btn btn-secondary" type="button">Close</button>
      <button (click)="submitData()" class="btn btn-primary" type="button">Save Record</button>
    </div>
  </div>
