<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="form">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="text-gray">Profile Name</label>
        <input formControlName="name" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('name').touched && form.get('name').hasError('required')">Required
          Field</small>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label class="text-gray">Description</label>
        <textarea formControlName="description" class="form-control" type="text"></textarea>
        <small class="text-danger" *ngIf="form.get('description').touched && form.get('description').hasError('required')">Required
          Field</small>
      </div>
    </div>
<!--    <div class="row pl-4">-->
<!--      <div class="col-sm-12">-->
<!--        <div class="form-group d-flex justify-content-between">-->
<!--          <div class="custom-control custom-checkbox">-->
<!--            <input formControlName="is_active" type="checkbox" class="custom-control-input" id="is_active">-->
<!--            <label class="custom-control-label" for="is_active">Is Active</label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </div>

  <div *ngIf="loading" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
         aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
  <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
    <div *ngFor="let err of errorMessages">{{err}}</div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button [disabled]="!form.valid" type="button" class="btn  btn-md btn-primary" (click)="submitData()">Save Record</button>

  </div>
