<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">All Registered Accounts</h4>
  </div>
  <app-table-header
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddProductModal()"
    [allColumns]="allColumns"
    [rows]="rows"
    [showAddButton]="false"
    [title]="title"
  ></app-table-header>

</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">

        <div class="table-responsive">
          <ngx-datatable
            #table
            [columnMode]="ColumnMode.force"
            [columns]="columns"
            [footerHeight]="50"
            [limit]="5"
            [loadingIndicator]="loading"
            [rowHeight]="'auto'"
            [rows]="rows"
            class="bootstrap table-bordered table-striped striped"
          >
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail
              #myDetailRow
              (toggle)="onDetailToggle($event)"
              [rowHeight]="100"
            >
              <ng-template
                let-expanded="expanded"
                let-row="row"
                ngx-datatable-row-detail-template
              >
                <div style="padding-left: 35px">
                  <div><strong>Address</strong></div>
                  <div>Child Details</div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <ng-container *ngFor="let column of columns">
              <ngx-datatable-column
                *ngIf="column.name === 'ID' || column.name === '#'"
                [maxWidth]="45"
                [minWidth]="35"
                [draggable]="false"
                [resizeable]="false"
                name="#"
                prop="frontendId"
              >
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="column.name === 'Actions' && actions.length > 0"
                [maxWidth]="150"
                [minWidth]="150"
                [sortable]="false"
                [draggable]="false"
                [resizeable]="false"
                class="parent-item"
                name="Actions"
                prop="actions"
              >
                <ng-template
                  class="parent-item"
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
          <span class="parent-item">
            <ng-template #buttons>
              <ul class="list-group list-group-flush">

                <ng-container *ngIf="row.status=='PENDING'">
                  <li (click)="triggerEvent({ row, action })"
                    *ngFor="let action of pendingActions; index as i"
                    class="action-buttons list-group-item pt-1 pb-1 text-center"
                  >
                    {{ action }}
                  </li>
                </ng-container>
                <ng-container *ngIf="row.status!=='PENDING'">
                  <li (click)="triggerEvent({ row, action })"
                    *ngFor="let action of actions; index as i"
                    class="action-buttons list-group-item pt-1 pb-1 text-center"
                  >
                    {{ action }}
                  </li>
                </ng-container>
              </ul>
            </ng-template>
            <div class="example">
              <button
                [ngbPopover]="buttons"
                class="btn btn-primary btn-xs"
                placement="left-top"
                type="button"
              >
                <i class="feather icon-chevron-down"></i> {{'customTables.actions' | translate}}
              </button>
            </div>
          </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="column.name === 'Status' || column.name === 'Active' || column.name === 'Blocked'"
                [maxWidth]="150"
                [minWidth]="150"
                [resizeable]="false"
                [name]="column.name"
                [prop]="column.name.toLowerCase()"
                [draggable]="false"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
          <span class="{{ (row.status || row.active || !row.blocked) === true ?  'badge bg-primary mr-1' : 'badge bg-danger mr-1'}}">
            {{(row.status || row.active || !row.blocked) === true ?  'Active' : 'Inactive'}}</span>
                  <!--          <app-label-active-->
                  <!--            [value]="row.status || row.active || !row.blocked"-->
                  <!--          ></app-label-active>-->
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="column.prop === 'firstTimeLogin'"
                [maxWidth]="150"
                [minWidth]="150"
                [resizeable]="false"
                [name]="column.name"
                [prop]="column.prop.toLowerCase()"
                [draggable]="false"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >

          <span class="{{ (row.firstTimeLogin) === true ?  'badge bg-primary mr-1' : 'badge bg-danger mr-1'}}">
            {{(row.firstTimeLogin) === true ?  'Yes' : 'No'}}</span>

                  <!--          <app-label-boolean-->
                  <!--            [value]="row.firstTimeLogin"-->
                  <!--          ></app-label-boolean>-->
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="column.prop === 'accountStatus'"
                [maxWidth]="150"
                [minWidth]="150"
                [resizeable]="false"
                [name]="column.name"
                [prop]="column.prop.toLowerCase()"
                [draggable]="false"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >

          <span class="{{ (row.accountStatus) === 'SUCCESS' ?  'badge bg-primary mr-1' : 'badge bg-danger mr-1'}}">
            {{(row.accountStatus).toUpperCase()}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="column.name === 'TaskStatus'"
                [maxWidth]="150"
                [minWidth]="150"
                [resizeable]="false"
                name="TaskStatus"
                prop="taskStatus"
                [draggable]="false"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <app-label-task-status
                    [value]="row.TaskStatus"
                  ></app-label-task-status>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="column.prop === 'systemRole'"
                [draggable]="false"
                [resizeable]="false"
                [maxWidth]="150"
                [minWidth]="150"
                name="Role Type"
                [prop]="column.prop"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{row.d}}
                  <span class="{{ (row.systemRole) === true ?  'badge bg-primary mr-1' : 'badge bg-success mr-1'}}">
            {{(row.systemRole) === true ?  'System Role' : 'Custom Role'}}</span>
                  <!--          <app-label-system-custom-role *ngIf="!loadingIndicator"-->
                  <!--            [value]="row.systemRole"-->
                  <!--          ></app-label-system-custom-role>-->
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="column.prop === 'createdOn' || column.prop === 'createdAt' || column.prop === 'updatedOn' || column.prop === 'updatedAt'"
                [draggable]="false"
                [resizeable]="false"
                [maxWidth]="150"
                [minWidth]="150"
                [name]="column.name"
                [prop]="column.prop"
              >
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="
          column.name !== 'Actions' &&
          column.name !== 'Status' &&
          column.name !== 'TaskStatus' &&
          column.name !== 'Active' &&
          column.name !== 'Account Status' &&
          column.name !== 'ID' &&
          column.name !== '#' &&
          column.prop !== 'systemRole' &&
          column.prop !== 'createdOn' &&
          column.prop !== 'createdAt' &&
          column.prop !== 'updatedAt' &&
          column.prop !== 'firstTimeLogin' &&
          column.prop !== 'updatedOn'
        "
                name="{{ column.name }}"
                prop="{{ column.prop }}"
                [draggable]="false"
                [resizeable]="false"
              >
              </ngx-datatable-column>
            </ng-container>

            <ngx-datatable-footer>
              <ng-template
                let-curPage="curPage"
                let-isVisible="isVisible"
                let-offset="offset"
                let-pageSize="pageSize"
                let-rowCount="rowCount"
                let-selectedCount="selectedCount"
                ngx-datatable-footer-template
              >

                <select
                  (change)="changePageSize($event)"
                  class="form-select ms-2 w-auto"
                >
                  <option *ngFor="let size of pageSizes" [value]="size">
                    {{ size === 1000 ? ' All Items' : size + ' Items per page' }}
                  </option>


                </select>
<!--                <h6 class="ml-4" style="margin-left: 20px">{{20}} Total</h6>-->
<!--                <datatable-pager-->
<!--                  (change)="table.onFooterPage($event)"-->
<!--                  [count]="rowCount"-->
<!--                  [hidden]="!(rowCount / pageSize > 1)"-->
<!--                  [page]="curPage"-->
<!--                  [pagerLeftArrowIcon]="'datatable-icon-left'"-->
<!--                  [pagerNextIcon]="'datatable-icon-skip'"-->
<!--                  [pagerPreviousIcon]="'datatable-icon-prev'"-->
<!--                  [pagerRightArrowIcon]="'datatable-icon-right'"-->
<!--                  [size]="pageSize"-->
<!--                ></datatable-pager>-->
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
    </div>
  </div>
</div>

