<div class="body w-100" style="position: relative; background-color: #EFEFEF;">
  <div class="row">
    <div class="d-flex"
      style="max-width: 100%; max-height: 30px; order: 0; align-self: stretch;flex: none; flex-grow: 1;">
      <img class="img-fluid" style="max-height:31px;" src="assets/images/headerl.png" alt="header-bar" />
      <img class="img-fluid" style="max-height:31px ;" src="assets/images/headerl.png" alt="header-bar" />
    </div>
  </div>
  <div class="row d-flex justify-content-center login-row">
    <div class="col-md-6 col-lg-5 col-xl-5 col-sm-7">
      <div class=""  style="padding-top: 60px; padding-left: 30px;">
        <img class="img-fluid" style="position: absolute;" src="assets/images/TRA_Logo.png" width="150" height="50"
          alt="" />
      </div>
      <div class="card card-login-container">
        <!-- <div class="card-header mt-1 d-flex justify-content-center align-items-center border-0 box-shadow">
          <i class="fa fa-key text-light" aria-hidden="true"></i>
        </div> -->
        <div class="card-body card-login text-center pb-1">
          <div style="margin-top: -10%;">
            <h3 style="font-family: Mulish; font-style: normal; font-weight: 700; font-size: 21px; color: #F8F8F8;">
              Forget Password
            </h3>
          </div>
          <br>
          <form class="forms-sample">
            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email"
                value="admin@demo.com">
            </div>
            <div>
              <button type="submit" style="width: 100%; border: none;" class="btn btn-block login-btn transition"
                (click)="onLoggedin($event)">Reset Password</button>
            </div>
            <hr>
            <div class="mt-2 d-flex justify-content-center">
              <a routerLink="/auth/login" style="text-decoration: none;" class="transition text-light">Back to
                Login</a>
            </div>
          </form>
        </div>
      </div>
      <div class="" style="padding: 16px; justify-content: center; margin-top: -7%;">
        <button class="btn btn-md" style="background-color: #6D36A8 ; color: #F8F8F8; border-radius: 8px; "> <a href=""
            style="text-decoration: none; text-transform: none;" target="_blank" class="transition text-light"> VISIT:
            WWW.TRA.GO.KE </a></button>
      </div>
    </div>
    <div class="card col-md-6 col-lg-7 col-xl-7 col-sm-5"
      style="background-image: url('assets/images/login_bg.png'); background-size: cover; background-repeat: no-repeat;">
    </div>
  </div>
</div>