<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">All Channels</h4>
  </div>
<!-- <div>Total number of Customers: 25000 </div> -->
  <app-table-header
    [allColumns]="allColumns"
    [rows]="rows"
    [title]="title"
    [showAddButton]="true"
    (changeColumnsEvent)="updateColumns($event)"
    (openAddModalEvent)="openAddModal()"
  ></app-table-header>

</div>

<!--<div class="row mb-2">-->
<!--  <div class="col-10">-->
<!--  </div>-->
<!--  <div class="col-2 align-items-end">-->
<!--    <div class="float-right align-items-end">-->
<!--      <button style="margin-left: 10px"  class="btn btn-outline-success btn-sm" *ngIf="channelEnabled"  (click)="openAddModal()"><i class="feather icon-check icon-sm me-2"></i>Add Channel</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card" *ngIf="rows.length > 0">
        <app-custom-ngx-table
          [columns]="columns"
          [rows]="rows"
          [actions]="actions"
          [loadingIndicator]="loading"
          (outputEvent)="triggerEvent($event)"
        ></app-custom-ngx-table>
    </div>
  </div>
</div>
