<nav class="sidebar">
  <div class="sidebar-header" style="background-color: #ffffff!important;">
    <a routerLink="dashboard" class="sidebar-brand nobleui-logo">
      <img src="assets/images/eclectics.png" alt="Portal" style="max-height: 40px;">
    </a>
    <div class="sidebar-toggler not-active" #sidebarToggler (click)="toggleSidebar($event)">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="sidebar-body" style="background-color: #ffffff!important;" [perfectScrollbar]>
    <ul class="sidebar-nav metismenu" id="sidebar-menu" #sidebarMenu>
      <ng-container *ngFor="let item of menuItems">

        <!-- This li is ONLY for titles like "MAIN MENU" -->
        <li class="nav-category" *ngIf="item.isTitle">
          {{ item.label }}
        </li>

        <!-- This li is ONLY for clickable menu items -->
        <li class="nav-item" *ngIf="!item.isTitle">

          <!-- Render a standard router link for all items EXCEPT logout -->
          <a *ngIf="!item.isLogout" class="nav-link" [routerLink]="item.link" [routerLinkActive]="'active'">
            <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
            <span class="link-title">{{ item.label }}</span>
          </a>

          <a *ngIf="item.isLogout" class="nav-link" href="#" (click)="onLogout($event)">
            <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
            <span class="link-title">{{ item.label }}</span>
          </a>
        </li>

      </ng-container>
    </ul>
  </div>
</nav>