.showHand {
  cursor: pointer!important;
}

.linkTitle {
    color:#F8F8F8;
    font-size: 14px!important;
    text-transform: uppercase;
    font-weight: 800!important;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    height: 18px;
    //-webkit-text-decoration: slateblue solid underline;
    //text-decoration: slateblue solid underline;
    //-webkit-text-underline-position: auto;
    //text-underline-position: under;
}

.metismenu .mm-collapse:not(.mm-show) {
  display: contents!important;
}