select.form-select option:hover {
  background-color: #e9ecef;
}
th {
    color: #99A1AF;
}

.save-btn:hover {
  background-color: #0ea908;
  color: #ffffff;
  transform: scale(1.05);
  border-radius: 8px;
}
.save {
  display: flex;
  height: 36px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  background-color : #2C71F6;
  // border: 2px solid #02A7E1;
  transition: all 0.3s ease;
  border-radius: 4px;
  color: #ffffff;
}
.save:hover {
  background-color: #02A7E1;
  color: #ffffff;
  transform: scale(1.05);
  border-radius: 8px;
}

.btn-icon {
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%; 
  width: 36px;
  height: 36px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    color: #fff;
  }
}

.btn-edit {
  border-color: #6b7280; 
  color: #4b5563; // 

  &:hover {
    background-color: #4b5563;
  }
}

.btn-delete {
  border-color: #ef4444; 
  color: #ef4444; 

  &:hover {
    background-color: #ef4444;
  }
}