select.form-select option:hover {
  background-color: #e9ecef;
}
th {
    color: #99A1AF;
}

.save-btn:hover {
  background-color: #02A7E1;
  color: #ffffff;
  transform: scale(1.05);
  border-radius: 8px;
}