<div class="body" style="position: relative; background-color: #EFEFEF; max-height: 1100px;">
  <div class="row">
    <div class="d-flex" style="max-width: 100%; height: 30px; background-image: url('assets/images/headerl.png'); background-repeat: repeat-x; background-size: 100% 100%;">
    </div>
  </div>
  <div class="row d-flex justify-content-center login-row">
    <div class="col-md-6 col-lg-5 col-xl-5 col-sm-7 d-flex justify-content-around flex-column">
      <div class="" style="padding-top: 30px; padding-left: 30px;">
        <a href="" routerLink="/standards"> <img class="img-fluid" style="position: absolute;"
            src="assets/images/TRA_Logo.png" width="150" height="50" alt="" /></a>

      </div>
      <div class="card card-login-container">
        <div class="mt-2">
          <h3
            style="font-family: Mulish; font-style: normal; font-weight: 700; font-size: 21px; line-height: 30px; color: #F8F8F8; text-transform: uppercase; text-align: center;">
            Change Password</h3>
        </div>
        <div class="card-login text-start pb-1 mt-4">
          <form class="forms-sample" [formGroup]="form">
            <div class="mb-3">
              <input type="password" class="form-control" formControlName="password" placeholder="Enter Current Password">
              <small class="text-danger"
                *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')"> Current Password is
                required</small>
            </div>
            <div class="mb-3">
              <div class="input-group mb-3">
                <input [type]="inputType" class="inputs" formControlName="newPassword" class="form-control"
                  placeholder="Enter password" id="password" aria-label="password">
                <div class="input-group-prepend" style="cursor: pointer;" (click)="toggleShowPassword()">
                  <span class="input-group-text" *ngIf="!this.showingPassword"><i class="mdi mdi-eye"></i></span>
                  <span class="input-group-text" *ngIf="this.showingPassword"><i class="mdi mdi-eye-off"></i></span>
                </div>
              </div>
              <small class="text-danger"
                *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('required')">Password is
                required</small>
              <small class="text-danger"
                *ngIf="form.get('password')?.touched && form.get('newPassword')?.hasError('minlength')">Password isn't long
                enough, minimum of 6 characters</small>
            </div>
            <div class="mb-3">
              <div class="input-group mb-3">
                <input [type]="inputType" class="inputs" formControlName="confirmPassword" class="form-control"
                  placeholder="Confirm Password" id="confirmPassword" aria-label="confirmPassword">
                <div class="input-group-prepend" style="cursor: pointer;" (click)="toggleShowPassword()">
                  <span class="input-group-text" *ngIf="!this.showingPassword"><i class="mdi mdi-eye"></i></span>
                  <span class="input-group-text" *ngIf="this.showingPassword"><i class="mdi mdi-eye-off"></i></span>
                </div>
              </div>
              <small class="text-danger"
                *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">Confirm
                Password is
                required</small>
              <small class="text-danger"
                *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('minlength')">Confirm
                Password isn't long
                enough, minimum of 6 characters</small>
              <small *ngIf="form.controls['confirmPassword'].dirty &&
                  form.hasError('MatchPassword','confirmPassword')" class="text-danger">Passwords Do Not Match</small>
            </div>
            <div>
              <button [disabled]="!form.valid" (click)="onSubmit($event)" style="width: 100%; border: none;"
                class="btn btn-block login-btn transition" type="submit">
                <span style="color: white;">SET PASSWORD</span>
              </button>
            </div>
            <hr>
            <div class="mt-2 d-flex justify-content-center">
              <a routerLink="/auth/login" style="text-decoration: none;" class="transition text-light">Back to
                Login</a>
            </div>
          </form>
          <p *ngIf="isLoading"><ngb-progressbar type="primary" [value]="95" [striped]="true"
              [animated]="true"></ngb-progressbar></p>
          <ngb-alert [type]="'danger'" *ngIf="hasError" (close)="false" class="mt-2">
            <strong> Error Occured!</strong> {{errorMsg}}
          </ngb-alert>
        </div>
      </div>
      <div class="" style=" padding-bottom: 15px; padding-left: 15px; justify-content: center; margin-top: -7%;">
        <button class="btn btn-md" style="background-color: #6D36A8 ; color: #F8F8F8; border-radius: 8px; "> <a
            href="https://www.tra.go.ke/" style="text-decoration: none; text-transform: none;" target="_blank"
            class="transition text-light"> VISIT:
            WWW.TRA.GO.KE </a></button>
      </div>
    </div>
    <div class="card col-md-6 col-lg-7 col-xl-7 col-sm-5"
      style="background-image: url('assets/images/login_bg.png'); background-size: cover; background-repeat: no-repeat;">
    </div>
  </div>
</div>
