<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">All Roles</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <div class="input-group wd-200 me-2 mb-2 mb-md-0">
    </div>
    <button class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0" type="button">
      <i appFeatherIcon class="btn-icon-prepend" data-feather="printer"></i>
      Download
    </button>
    <button (click)="openAddRoleModal(verticalCenteredModal)" class="btn btn-primary btn-icon-text mb-2 mb-md-0"
            type="button">
      <i appFeatherIcon class="btn-icon-prepend" data-feather="plus"></i>
      Add Role
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Roles</h6>
         <div class="table-responsive table-striped">
          <ngx-datatable
            #table
            [rows]="rows"
            class="bootstrap"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [columns]="columns"
            [limit]="10"
            [rowHeight]="'auto'"
          >

            <!-- Column Templates -->
            <ngx-datatable-column
              [width]="50"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false"
            >
              <ng-template  let-value="value" let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a
                  href="javascript:void(0)"
                  [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row"
                  (click)="toggleExpandRow(row)"
                >
                </a>
              </ng-template>
            </ngx-datatable-column>

            <ng-container *ngFor='let column of columns' >
              <ngx-datatable-column *ngIf='column.name === "Actions"' name="Actions" prop="actions">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span>
                      <button type="button" class="btn btn-primary btn-icon-text btn-sm"
                              (click)="openEditProductModal(verticalCenteredModal)">
                          Edit
                      </button>
                    </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf='column.name === "Status"' name="Status" prop="status">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <app-label-active [value] = "row.status"></app-label-active>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf='column.name !== "Actions" && column.name !== "Status"' name="{{column.name}}" prop="{{column.prop}}">
              </ngx-datatable-column>
            </ng-container>

          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Role</h5>
    <button (click)="modal.close('by: close icon')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body" [formGroup]="form">
    <div class="row">
      <div class="col-sm-12">
        <div class="mb-3">
          <label class="form-label">Role Name</label>
          <input class="form-control" formControlName="name" type="text">
          <small *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')" class="text-danger">Required
            Field</small>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="mb-3">
          <label class="form-label">Role Code</label>
          <input class="form-control" formControlName="code" type="text">
          <small *ngIf="form.get('code')?.touched && form.get('code')?.hasError('required')" class="text-danger">Required
            Field</small>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="mb-3">
          <label class="text-gray">Description</label>
          <textarea class="form-control" formControlName="description" type="text"></textarea>
          <small *ngIf="form.get('description')?.touched &&
          form.get('description')?.hasError('required')" class="text-danger">Required
            Field</small>
        </div>
      </div>

    </div>


  </div>
  <div class="modal-footer">
    <button (click)="modal.close('by: close button')" class="btn btn-secondary" type="button">Close</button>
    <button (click)="modal.close('by: save button')" class="btn btn-primary" type="button">Save changes</button>
  </div>
</ng-template>
