<div style="margin-left: 3%;" class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <ng-container *ngIf="showLeaveCommentForm">
    <div class="modal-container"
      style="display: flex;justify-content: end;align-items: center;position: fixed;width: 100%;height: 100%; z-index: 10;  border-radius: 8px 8px 8px 8px;">
      <div>
        <div class="modals " style="border-radius: 8px 8px 8px 8px;">
          <div style="background: var(--seasalt, #F8F8F8); border-radius: 8px 8px 8px 8px;">
            <div class="d-flex justify-content-between"
              style="background-color: #d0ddf0;  font-family: 'Mulish'; font-weight: 900; border-radius:4px;">
              <h4 class="text-start p-2 mt-2" style="color: #6D36A8; font-size: 23px;">Customer Inquiry</h4>
              <div>
                <button type="button" class="btn fs-2" (click)="hideLeaveCommentForm()"
                  style="color: #6D36A8; font-size: 20px; margin-top: -5%;">
                  &times;
                </button>
              </div>
            </div>
            <article class="">
              <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
              <form class="mt-1" [formGroup]="form" (ngSubmit)="onleaveComment()" class="row px-3">
                <div class="tab-content col-12 border-0">
                  <div class="form-group mt-2">
                    <input formControlName="name" type="text" class="form-control validation-field border-0" id="name"
                      placeholder="Your Name or Company*">
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="form-group mt-2">
                    <input formControlName="email" type="email" class="form-control validation-field border-0"
                      id="email" placeholder="Your email address*">
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="form-group mt-2">
                    <input type="text" name="tel" formControlName="phoneNumber" id="phoneNumber"
                      placeholder="Phone Number*" class="form-control validation-field border-0" ng2TelInput
                      data-initial-country="ke">
                    <!-- <input formControlName="phoneNumber" id="phoneNumber" type="text"  placeholder="Phone Number*" class="form-control validation-field border-0"
                                id="purpose" placeholder="Your Phone No,"> -->
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="form-group mt-2">
                    <input formControlName="subject" type="text" class="form-control validation-field border-0"
                      id="subject" placeholder="Subject">
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="form-group mt-2">
                    <textarea formControlName="message" type="text" id="message" cols="15" rows="3"
                      placeholder="Message" class="form-control validation-field border-0"></textarea>
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="col-12 bg-white text-center py-1 mt-3 mb-2">
                    <button style="width: 100%; border: none;" class="btn btn-block bronchure-btn transition"
                      type="submit">
                      <span style="color: white;">SEND</span>
                    </button>
                  </div>
                </div>
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div>
    <h4 class="mb-md-0"
      style="color: var(--dark-purple, #1E0F2E);font-family: Muli;font-size: 20px;font-style: normal;font-weight: 700;line-height: 26px; ">
      Reports & Results</h4>
  </div>
</div>

<div class="card" style="position: relative;">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
      <div class="card border-0 box-shadow">
        <img class="card-img-top img-fluid" style="max-width:100% ; height: 260px ; border-radius: 16px;"
          src="assets/images/results.png" />
      </div>
    </div>
  </div>
  <div class="landing"
    style="position:absolute; padding: 16px 24px; align-items: center; border-radius: 16px; background: #FFF; width: 92%; margin-left: 4%; margin-top: 20%;">
    <div>
      <div>
        <h1
          style="color: var(--grape-tra, #6D36A8);font-family: Mulish;font-size: 18px;font-style: normal;font-weight: 700;line-height: 24px;">
          Elevate Your Business: Proven Excellence with Our Certifications, Accreditations, & Classifications.</h1>
        <p
          style="color: #000;text-align: justify;font-family: Mulish;font-size: 15px;font-style: normal;font-weight: 400;line-height: 21px;">
          The Authority conducts certification and accreditation processes to assess tourism enterprises, ensuring
          conformity to set standards. The marks of conformity signify consistent delivery of quality products and
          services, fostering growth, sustainability, and competitiveness in the tourism market. They classify and grade
          tourism businesses in line with the EAC Classification System, aiming to promote product and service quality
          for sustainable development. The programs encourage stakeholder involvement and transparent evaluation
          processes, benefiting businesses with increased tourist arrivals and spending.</p>
      </div>
    </div>
    <br>
    <div class="row d-flex justify-content-between mt-2" *ngFor="let std of results">
      <div class="col">
        <p class="title">Result No:</p>
        <h2 class="content">{{std.result_ref}}</h2>
      </div>
      <!-- <div class="col">
        <p class="title">Task No:</p>
        <h2 class="content">{{std.task_ref}}</h2>
      </div> -->
      <div class="col">
        <p class="title">Request Type</p>
        <h2 class="content">{{std.task_type}}</h2>
      </div>
      <div class="col" *ngIf="std.task_type === 'ACCREDITATION'">
        <p class="title">Score</p>
        <h2 class="content">{{ std.score }}</h2>
      </div>
      <div class="col" *ngIf="std.task_type === 'CLASSIFICATION'">
        <p class="title">Rating</p>
        <h2 class="content">{{ std.rating }} stars</h2>
      </div>
      <div class="col">
        <p class="title">Date Created</p>
        <h2 class="content">{{ formatDate(std.created_on) }}</h2>
      </div>
      <div class="col">
        <p class="title">Status</p>
        <ng-container *ngIf="std.task_type === 'CLASSIFICATION'; else accreditationsStatus">
          <h2 class="content">
            <img class="card-img-top img-fluid mr-1" style="width: 13px; height: 15px;"
              src="assets/images/Vector.png" />
            stars
          </h2>
        </ng-container>
        <ng-template #accreditationsStatus>
          <h2 class="content">
            <img class="card-img-top img-fluid mr-1" style="width: 13px; height: 16px;"
              [src]="getSanitizedStatusImage(std.status)" />{{std.status}}
          </h2>
        </ng-template>
      </div>
      <div class="mt-2 col">
        <a [href]="downloadLink" download>
          <button class="btn btn-md login-btn transition" (click)="handleDownload(std)" type="submit">
            <a style="text-decoration: none" class="transition">
              <span style="color: var(--white, #FFF);text-align: center;font-family: Mulish;font-size: 13px;font-style: normal;font-weight: 700;line-height: normal;letter-spacing: 1.12px;text-transform: uppercase;
                  ">DOWNLOAD</span></a>
          </button>
        </a>
      </div>
      <div class="mt-1 col">
        <button [disabled]="isButtonDisabled(std.status, std.task_type)" class="btn btn-md transition"
          (click)="raiseAppeal(std.id, std.status, std.task_type)"
          style="background-color: #D0DDF0; border-radius: 64px;" type="button">
          <a style="text-decoration: none" class="transition">
            <span style="
            color: var(--violet-blue, #2766BF);
            text-align: center;
            font-family: Mulish;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.12px;
            text-transform: uppercase;
          ">
              {{ getAppealButtonText(std.status, std.task_type) }}
            </span>
          </a>
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div style="position: fixed; bottom: 9%; right:3%;" class="d-flex justify-content-around">
        <button *ngIf="!showLeaveCommentForm" class="btn btn-sm transition"
          style="border-radius: 64px;background: var(--green-blue, #2268AA); margin-right:10px;" type="submit">
          <a style="text-decoration: none" class="transition">
            <span
              style="color: var(--seasalt, #F8F8F8);text-align: center;font-family: Mulish;font-size: 12px;font-style: normal;font-weight: 700;line-height: normal;letter-spacing: 1.12px;text-transform: uppercase;">customer
              inquiry</span></a>
        </button>
        <div (click)="toggleLeaveCommentForm()"
          style="width: 50px; height: 50px; border-radius: 50%; background-color: #D0DDF0;;"
          class="card-header d-flex align-items-center border-0">
          <p style="color:#2268AA;  font-size: 30px; margin-left: -13px;">
            <img class="img-fluid" style="position: absolute; bottom: 19%" src="assets/images/chats.png" width="30"
              height="20" alt="logo" />
            <!-- <i (click)="openModal(leaveComment)" class="mt-2 fa-solid fa-comments" title="Leave A Comment"></i> -->
          </p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>