<!--<div class="row justify-content-around p-2">-->
<!--  <div class="col">-->
<!--    <label class="form-label" for="exampleInputUsername1">Username</label>-->
<!--    <input autocomplete="off" class="form-control" id="exampleInputUsername1" placeholder="Username" type="text">-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <label class="form-label" for="exampleInputEmail1">Email address</label>-->
<!--    <input class="form-control" id="exampleInputEmail1" placeholder="Email" type="email">-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <label class="form-label" for="exampleInputPassword1">Password</label>-->
<!--    <input autocomplete="off" class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">-->
<!--  </div>-->
<!--</div>-->

<div class="table-responsive table-striped table-bordered">
  <ngx-datatable
    #table
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [footerHeight]="50"
    [limit]="pageSize"
    [loadingIndicator]="loadingIndicator"
    [rowHeight]="'auto'"
    [rows]="rows"
    class="bootstrap table-bordered table-striped striped"
  >
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail
      #myDetailRow
      (toggle)="onDetailToggle($event)"
      [rowHeight]="100"
    >
      <ng-template
        let-expanded="expanded"
        let-row="row"
        ngx-datatable-row-detail-template
      >
        <div style="padding-left: 35px">
          <div><strong>Address</strong></div>
          <div>Child Details</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <!-- Column Templates -->
    <ngx-datatable-column
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [sortable]="false"
      [width]="5"
    >
      <ng-template
        let-expanded="expanded"
        let-row="row"
        let-value="value"
        ngx-datatable-cell-template
      >
        <a
          (click)="toggleExpandRow(row)"
          [class.datatable-icon-down]="expanded"
          [class.datatable-icon-right]="!expanded"
          href="javascript:void(0)"
          title="Expand/Collapse Row"
        >
        </a>
      </ng-template>
    </ngx-datatable-column>

    <ng-container *ngFor="let column of columns">
      <ngx-datatable-column
        *ngIf="column.name === 'ID'"
        [draggable]="false"
        [maxWidth]="45"
        [minWidth]="35"
        name="ID"
        prop="id"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="column.name === 'Actions' && actions.length > 0"
        [draggable]="false"
        [maxWidth]="150"
        [minWidth]="150"
        [sortable]="false"
        class="parent-item"
        name="Actions"
        prop="actions"
      >
        <ng-template
          class="parent-item"
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <span class="parent-item">
            <ng-template #buttons>
              <ul class="list-group list-group-flush">
                <li
                  (click)="sendEvent(row, action)"
                  *ngFor="let action of actions; index as i"
                  class="action-buttons list-group-item pt-1 pb-1 text-center"
                >
                  {{ action }}
                </li>
              </ul>
            </ng-template>
            <div class="example">
              <button
                [ngbPopover]="buttons"
                class="btn btn-primary btn-xs"
                placement="bottom"
                type="button"
              >
                <i class="feather icon-chevron-down"></i> Actions
              </button>
            </div>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="column.name === 'Status' || column.name === 'Active'"
        [draggable]="false"
        [maxWidth]="150"
        [minWidth]="150"
        name="Status"
        prop="status"
      >
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <app-label-active
            [value]="row.status || row.active || !row.blocked"
          ></app-label-active>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="column.name === 'SystemRole'"
        [draggable]="false"
        [maxWidth]="150"
        [minWidth]="150"
        name="System Role"
        prop="systemRole"
      >
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <app-label-system-custom-role
            [value]="row.systemRole"
          ></app-label-system-custom-role>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="column.name === 'CreatedOn'"
        [draggable]="false"
        [maxWidth]="150"
        [minWidth]="150"
        name="CreatedOn"
        prop="createdOn"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="
          column.name !== 'Actions' &&
          column.name !== 'Status' &&
          column.name !== 'Active' &&
          column.name !== 'ID' &&
          column.name !== 'SystemRole' &&
          column.name !== 'CreatedOn'
        "
        [draggable]="false"
        name="{{ column.name }}"
        prop="{{ column.prop }}"
      >
      </ngx-datatable-column>
    </ng-container>
    <ngx-datatable-footer>
      <ng-template
        let-curPage="curPage"
        let-isVisible="isVisible"
        let-offset="offset"
        let-pageSize="pageSize"
        let-rowCount="rowCount"
        let-selectedCount="selectedCount"
        ngx-datatable-footer-template
      >
        <!-- <div ngbDropdown class="ms-4">
            <button
              class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0 btn-xs"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ pageSize }}
            </button>
            <ul
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
            >
              <li *ngFor="let size of pageSizes">
                <label
                  class="dropdown-item"
                  [attr.for]="size"
                  (click)="changePageSize(size)"
                  >{{ size }}</label>
              </li>
            </ul>
          </div> -->
        <select
          (change)="changePageSize($event)"
          class="form-select ms-2 w-auto"
        >
          <option *ngFor="let size of pageSizes" [value]="size">
            {{ size }} Items per page
          </option>
        </select>
        <datatable-pager
          (change)="table.onFooterPage($event)"
          [count]="rowCount"
          [hidden]="!(rowCount / pageSize > 1)"
          [page]="curPage"
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [size]="pageSize"
        ></datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
