<!--<div class="row justify-content-around p-2">-->
<!--  <div class="col">-->
<!--    <label class="form-label" for="exampleInputUsername1">Username</label>-->
<!--    <input autocomplete="off" class="form-control" id="exampleInputUsername1" placeholder="Username" type="text">-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <label class="form-label" for="exampleInputEmail1">Email address</label>-->
<!--    <input class="form-control" id="exampleInputEmail1" placeholder="Email" type="email">-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <label class="form-label" for="exampleInputPassword1">Password</label>-->
<!--    <input autocomplete="off" class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">-->
<!--  </div>-->
<!--</div>-->

<div class="table-responsive table-striped table-bordered">
  <ngx-datatable
    #table
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [footerHeight]="50"
    [loadingIndicator]="loadingIndicator"
    [rowHeight]="'auto'"
    [rows]="rows"
    class="bootstrap table-bordered table-striped striped"
  >
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail
      #myDetailRow
      (toggle)="onDetailToggle($event)"
      [rowHeight]="100"
    >
      <ng-template
        let-expanded="expanded"
        let-row="row"
        ngx-datatable-row-detail-template
      >
        <div style="padding-left: 35px">
          <div><strong>Address</strong></div>
          <div>Child Details</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <!-- Column Templates -->
    <ngx-datatable-column
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [sortable]="false"
      [width]="50"
    >
      <ng-template
        let-expanded="expanded"
        let-row="row"
        let-value="value"
        ngx-datatable-cell-template
      >
        <a
          (click)="toggleExpandRow(row)"
          [class.datatable-icon-down]="expanded"
          [class.datatable-icon-right]="!expanded"
          href="javascript:void(0)"
          title="Expand/Collapse Row"
        >
        </a>
      </ng-template>
    </ngx-datatable-column>

    <ng-container *ngFor="let column of columns">
      <ngx-datatable-column
        *ngIf="column.name === 'ID'"
        [width]="30"
        name="ID"
        prop="id"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="column.name === 'Actions'"
        [sortable]="false"
        class="parent-item"
        name="Actions"
        prop="actions"
      >
        <ng-template
          class="parent-item"
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
                  <span class="parent-item">
                    <ng-template #buttons>
                      <ul class="list-group list-group-flush">
                        <li *ngFor="let action of actions; index as i"
                            (click)="sendEvent(row, action)"
                            class="action-buttons list-group-item pt-1 pb-1 text-center">
                          {{action}}
                        </li>
                      </ul>
                    </ng-template>
                    <div class="example">
                      <button class="btn btn-primary btn-sm" [ngbPopover]="buttons" placement="bottom" type="button">
                        <i class="feather icon-chevron-down"></i> Actions
                      </button>
                    </div>

<!--                    <div ngbDropdown>-->
<!--                      <button class="btn btn-outline-primary btn-icon-text me-2 btn-xs"-->
<!--                              id="dropdownBasic1"-->
<!--                              ngbDropdownToggle>Actions-->
<!--                      </button>-->
<!--                      <div aria-labelledby="dropdownBasic1" class="menu-items" ngb ngbDropdownMenu>-->
<!--                        <button *ngFor="let action of actions" ngbDropdownItem>{{action}}</button>-->
<!--                      </div>-->
<!--                    </div>-->

                    <!--                    <button (click)="viewItem(row)"-->
                    <!--                            *ngIf="hasViewAndEdit"-->
                    <!--                            class="btn btn-outline-primary btn-icon-text me-2 btn-xs"-->
                    <!--                            type="button"-->
                    <!--                    >-->
                    <!--                      View-->
                    <!--                    </button>-->
                    <!--                    <button-->
                    <!--                      (click)="openEditModal(row)"-->
                    <!--                      class="btn btn-primary btn-icon-text btn-xs"-->
                    <!--                      type="button"-->
                    <!--                    >-->
                    <!--                      Edit-->
                    <!--                    </button>-->

                    <!--                    <div class="btn-group mb-1 mb-md-0">-->
                    <!--                      <button class="btn btn-secondary" type="button">Split dropleft</button>-->
                    <!--                      <div class="btn-group" ngbDropdown placement="start-top" role="group">-->
                    <!--                        <button class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle></button>-->
                    <!--                        <div ngbDropdownMenu>-->
                    <!--                          <button ngbDropdownItem>Action - 1</button>-->
                    <!--                          <button ngbDropdownItem>Another Action</button>-->
                    <!--                          <button ngbDropdownItem>Something else is here</button>-->
                    <!--                        </div>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                  </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="column.name === 'Status'"
        name="Status"
        prop="status"
      >
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <app-label-active [value]="row.status"></app-label-active>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="column.name === 'CreatedOn'"
        name="CreatedOn"
        prop="createdOn"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="column.name !== 'Actions' && column.name !== 'Status' && column.name !== 'ID' && column.name !== 'CreatedOn'"
        name="{{ column.name }}"
        prop="{{ column.prop }}"
      >
      </ngx-datatable-column>
    </ng-container>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template>

        <div class="row">
          <div class="col">
            <label class="form-label" for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" placeholder="Email" type="email">
          </div>
        </div>

        <!--        <ul class="d-none">-->
        <!--          <li *ngFor="let item of data | paginate: {itemsPerPage: perPage, currentPage: page, totalItems: total}">-->
        <!--          </li>-->
        <!--        </ul>-->

        <!--        <div class="row text-center stretch-card">-->
        <!--          <div class="col-xl-12 text-center mt-2">-->
        <!--            Items Per Page-->
        <!--            <select (change)="onChange()" [(ngModel)]="perPage" class="form-control custom-select">-->
        <!--              <option *ngFor="let pageSize of pageSizes" [ngValue]="pageSize">{{ pageSize }}</option>-->
        <!--            </select>-->
        <!--            &lt;!&ndash;              <div class="col-6 pl-0">&ndash;&gt;-->
        <!--            &lt;!&ndash;                <label class="pt-2">Items per page</label>&ndash;&gt;-->
        <!--            &lt;!&ndash;              </div>&ndash;&gt;-->
        <!--          </div>-->

        <!--          <div class="col-xl-6">-->
        <!--            <pagination-controls (pageChange)="getIndividualData($event)" [autoHide]="true" [maxSize]="maxSize"-->
        <!--                                 [responsive]="true" previousLabel="Prev">-->
        <!--            </pagination-controls>-->
        <!--          </div>-->

        <!--        </div>-->

      </ng-template>
    </ngx-datatable-footer>

  </ngx-datatable>

</div>
