.container{
    padding: 20px;
}
.first> img{
    width: 200px !important;
}

.action-buttons {
  cursor: pointer!important;
}
.table-responsive 
.table-striped 
.table-bordered
{
  position: relative;
  max-height: 250px;

}
