<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin p-2">
  <div>
    <h4 class="mb-3 mb-md-0"
      style="color: var(--dark-purple, #1E0F2E);font-family: Muli;font-size: 20px;font-style: normal;font-weight: 700;line-height: 26px; ">
      All Requests</h4>
  </div>
</div>

<div class="card" style="position: relative; margin-top:-1%; margin-bottom: 55%;">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
      <div class="box-shadow">
        <img class="card-img-top img-fluid" style="max-width:100% ; height: 250px ; border-radius: 16px;"
          src="assets/images/requests.png" />
      </div>
    </div>
  </div>

  <div style="position:absolute; padding: 16px 24px; border-radius: 16px; background: #FFF; width: 90%; margin-left: 5%; margin-top: 21%;">
    <div>
      <h1
        style="color: var(--grape-tra, #6D36A8);font-family: Mulish;font-size: 18px;font-style: normal;font-weight: 700;line-height: 24px;">
        Pre- Qualification Assessment Checklist
      </h1>
      <p
        style="color: #000;text-align: justify;font-family: Mulish;font-size: 15px;font-style: normal;font-weight: 400;line-height: 21px;">
        Pre-qualification Assessment; is a prerequisite procedure under the EAC Standards Criteria for Classification
        of Hotels and Restaurants. Hotels Owners/property managers must carry out self-assessment based on each of the
        identified Essential Items listed on the checklist to ensure they attain the prerequisite 100% to qualify for
        classification and star rating. Essential Items; refers to both statutory requirements and basic operational
        standard practices that guarantees safety and comfort of both local and international guests in any
        hospitality establishment. The Items are crucial in the protection and promotion of the well- being of guests,
        staff and the property. Due to their significance, an establishment must score 100% overall in all of the
        listed Essential Items to qualify for Classification and Grading Process.
      </p>
      <button class="btn btn-md login-btn transition mt-1" type="submit">
        <a  style="text-decoration: none" routerLink="/tra-client/requests/addRequest" class="transition">
          <span style="color: #f8f8f8; font-weight: 700;letter-spacing: 0.08em;font-size: 12px;
          ">NEW REQUEST</span></a>
      </button>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 stretch-card">
          <div class="card" *ngIf="rows.length > 0">
            <app-custom-ngx-table [columns]="columns" [rows]="rows" [actions]="actions" [hasViewAndEdit]="true"
              [loadingIndicator]="loading" (outputEvent)="triggerEvent($event)"></app-custom-ngx-table>
          </div>
        </div>
      </div>
  </div>
</div>

<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
  <p class="text-muted mb-1 mb-md-0">Copyright © 2023 <a href="https://www.tra.go.ke/" style="color: #6d36a8; font-family: 'Muli';" target="_blank">TRA</a></p>
  <p class="" style="color: #6d36a8; font-family: 'Muli'; font-style: normal; font-weight: 700; font-size: 13px; letter-spacing: 0.08em;">Tourism Regulatory Authority</p>
</footer>