.login-btn {
  color: #ffffff;
  background-color: #F7941D;
  border-radius: 64px;
}
.body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.tab-content{
  background-color: #F8F8F8;
  ;
}
.stadards-title{
font-family: Muli;
font-size: 17px;
font-weight: 800;
line-height: 26px;
letter-spacing: 0em;
}
.bronchure-btn {
  color: #ffffff;
  background-color: #F7941D;
  border-radius: 8px;
}
