<div class="body w-100" style="position: relative; background-color: #EFEFEF;">
  <ng-container *ngIf="showLeaveCommentForm">
    <div class="modal-container"
      style="display: flex;justify-content: end;align-items: center;position: fixed;width: 100%;height: 100%; z-index: 10;  border-radius: 8px 8px 8px 8px;">
      <div>
        <div class="modals " style="border-radius: 8px 8px 8px 8px;">
          <div style="background: var(--seasalt, #F8F8F8); border-radius: 8px 8px 8px 8px;">
            <div class="d-flex justify-content-between"
              style="background-color: #d0ddf0;  font-family: 'Mulish'; font-weight: 900; border-radius:4px;">
              <h4 class="text-start p-2 mt-2" style="color: #6D36A8; font-size: 23px;">Customer Inquiry</h4>
              <div>
                <button type="button" class="btn fs-2" (click)="hideLeaveCommentForm()"
                  style="color: #6D36A8; font-size: 20px; margin-top: -5%;">
                  &times;
                </button>
              </div>
            </div>
            <article class="">
              <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
              <form class="mt-1" [formGroup]="form" (ngSubmit)="onleaveComment()" class="row px-3">
                <div class="tab-content col-12 border-0">
                  <div class="form-group mt-2">
                    <input formControlName="name" type="text" class="form-control validation-field border-0" id="name"
                      placeholder="Your Name or Company*">
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="form-group mt-2">
                    <input formControlName="email" type="email" class="form-control validation-field border-0"
                      id="email" placeholder="Your email address*">
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="form-group mt-2">
                    <input type="text" name="tel" formControlName="phoneNumber" id="phoneNumber"
                      placeholder="Phone Number*" class="form-control validation-field border-0" ng2TelInput
                      data-initial-country="ke">
                    <!-- <input formControlName="phoneNumber" id="phoneNumber" type="text"  placeholder="Phone Number*" class="form-control validation-field border-0"
                                id="purpose" placeholder="Your Phone No,"> -->
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="form-group mt-2">
                    <input formControlName="subject" type="text" class="form-control validation-field border-0"
                      id="subject" placeholder="Subject">
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="form-group mt-2">
                    <textarea formControlName="message" type="text" id="message" cols="15" rows="3"
                      placeholder="Message" class="form-control validation-field border-0"></textarea>
                    <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                  </div>
                  <div class="col-12 bg-white text-center py-1 mt-3 mb-2">
                    <button style="width: 100%; border: none;" class="btn btn-block bronchure-btn transition"
                      type="submit">
                      <span style="color: white;">SEND</span>
                    </button>
                  </div>
                </div>
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="d-flex justify-content-between" style="max-width: 100%; max-height: 70px">
    <div class="d-flex justify-content-around" style="margin-left: 4%">
      <div class="p-2">
        <button class="btn btn-md" style="background-color: #6d36a8; color: #f8f8f8; border-radius: 4px">
          <a href="https://www.tra.go.ke/" style="text-decoration: none; text-transform: none" target="_blank"
            class="transition text-light">
            VISIT:WWW.TRA.GO.KE
          </a>
        </button>
      </div>
      <div class="mt-2">
        <img class="img-fluid" src="assets/images/TRA_Logo.png" width="110" height="50" alt="" />
      </div>
    </div>

    <div style="margin-right: 2%">
      <div class="d-flex p-2 justify-content-between" *ngIf="showMenuItems">
        <button class="btn btn-md btn-light transition ml-1" type="submit">
          <a routerLink="/auth/activate" style="
              text-decoration: none;
              color: #1e0f2e;
              font-family: 'Muli';
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              letter-spacing: 0.08em;
              border-radius: 8px;
              text-transform: uppercase;
            " class="transition m-1">Sign Up</a>
        </button>
        <button class="btn btn-md login-btn transition" type="submit">
          <a routerLink="/auth/login" style="text-decoration: none" class="transition">
            <span style="
                color: #f8f8f8;
                font-weight: 700;
                letter-spacing: 0.08em;
                font-size: 12px;
              ">SIGN IN</span></a>
        </button>
      </div>
      <div class="d-flex p-2 justify-content-between" *ngIf="showDashbord">
        <div style="margin-top: 5%;">
          <h3 class="header"
            style="color: var(--dark-purple, #1E0F2E);text-align: center;font-family: Muli;font-size: 11px;font-style: normal;font-weight: 700;line-height: normal;text-transform: uppercase;">
            <span>{{profile}}</span>
          </h3>
        </div>
        <div style="margin-top: 2%; margin-left: 5px;">
          <img class="wd-30 ht-30 rounded-circle" src="./assets/images/user.png" alt="profile">
        </div>
        <button style="margin-top: 1%; margin-left: 5px;" class="btn btn-sm login-btn transition" type="submit">
          <a routerLink="/dashboard" style="text-decoration: none" class="transition">
            <span style="
               color: var(--dark-purple, #1E0F2E);text-align: center;font-family: Muli;font-size: 11px;font-style: normal;font-weight: 700;line-height: normal;
              ">DASHBOARD</span></a>
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="card col-md-12 col-lg-12 col-xl-12 col-sm-12">
        <div class="image-container" style="position: relative;">
          <img class="card-img-top img-fluid" style="max-width: 100%; max-height: 350px;"
            src="assets/images/landing2.png" />
          <h2 class="image-text"
            style="position: absolute;  top: 45%; left: 4%; font-family: 'Mulish'; line-height: 25px; font-weight: 600; font-size: 25px; color: #F8F8F8;">
            Ignite Success in Tourism: Align with Our Benchmark Minimum Standards.
          </h2>
        </div>
      </div>
    </div>
    <div class="card border-0 box-shadow">
      <div class="d-flex justify-content-start mt-4" style="padding-left: 4%;">
        <div class="d-flex justify-content-between" style="width: 96%; border-bottom: 2px solid #6D36A8;">
          <h3 class="card-title"
            style="color: #6D36A8; font-family: 'Muli';font-weight: 700;font-size: 23px; text-transform: none;">
            {{standard?.title || 'Accommodation And Catering Establishment'}}</h3>
          <div class="d-flex justify-content-between">
            <p style="font-weight: 600; font-size: 23px; color:#2268AA;">
            </p>
          </div>
        </div>
      </div>
      <div class="card-body" style="padding: 0% 4%;">
        <div class="border-0 box-shadow">
          <div class="grid-margin stretch-card">
            <div class="row mt-4">
              <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                <ng-container *ngIf="parts && parts.length > 0; else noParts">
                  <div class="mt-2" *ngFor="let part of parts" (click)="showDescription(part)"
                    [ngClass]="{ 'selected-part': isPartSelected(part.id) }">
                    <h5 class="card-title stadards-title" style="color: #2268AA;">
                      Part {{ part.partOrder }} - {{ part.part_title }}
                    </h5>
                  </div>
                </ng-container>
                <ng-template #noParts>
                  <div *ngFor="let defaultPart of defaultParts">
                    <h5 class="card-title stadards-title" style="color: #2268AA;">
                      Part {{ defaultPart.partOrder }} - {{ defaultPart.part_title }}
                    </h5>
                  </div>
                </ng-template>
              </div>
              <div class="col-md-7 col-sm-7 col-lg-7 col-xl-7">
                <div style="width: 25%; border-bottom: 2px solid #2268AA;">
                  <h3
                    style="color: #2268AA; font-size: 20px; font-family: Muli; font-weight: 800; line-height: 24px; letter-spacing: 0em;">
                    {{ selectedPart?.part_title || 'Preliminary' }}
                  </h3>
                </div>
                <div class="mt-2">
                  <p
                    style="color: #000000; font-family: Muli; font-size: 15px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: justified;">
                    {{ selectedPart?.part_description || 'Tourism Regulatory Authority (TRA) is a corporate body established under section 4 of the Tourism Act No.28 of 2011 and is mandated to regulate the tourism sector in Kenya. This entails developing regulations, standards and guidelines that are necessary to ensure an all-round quality service delivery in the tourism sector. This standard was developed by a select team drawn from relevant institutions, including; Tourism Regulatory Authority (TRA), Kenya Utalii College (KUC), Kenya Association of Hotels and Caterers (KAHC), Kenya Association of Tour Operators (KATO), Ministry of Health (MoH), Architectural of Association of Kenya (AAK) and Kenya Bureau of Standards (KEBS).' }}
                  </p>
                </div>
                <div *ngIf="showDashbord">
                  <form class="" [formGroup]="form" class="row">
                    <div class="tab-content col-12" style="background-color: #fff;">
                      <div style="border-radius: 8px;border: 2px solid var(--lavender-web, #D0DDF0);">
                        <p class="p-2"
                          style="color: var(--green-blue, #2268AA);font-family: Mulish;font-size: 15px;font-style: normal;font-weight: 700;line-height: 21px;">
                          Comments</p>
                        <div class="form-group" style="margin-top: -3%;">
                          <input formControlName="comment" placeholder="Type Your Comment here..." type="text"
                            class="form-control validation-field border-0" name="name" id="name">
                        </div>
                      </div>
                      <div class="col-12 bg-white text-center py-1 mt-3 mb-2 d-flex justify-content-start">
                        <button (click)="onSubmit()" style="border: none;" class="btn btn-block logi-btn transition"
                          type="submit">
                          <span
                            style="color: var(--seasalt, #F8F8F8);text-align: center;font-family: Mulish;font-size: 14px;font-style: normal;font-weight: 700;line-height: normal; letter-spacing: 1.28px;text-transform: uppercase;">SUBMIT</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div *ngFor="let file of files" class="col-md-3 col-lg-3 col-sm-3 col-xl-3 border border-1 rounded"
                style="padding: 10px; border: 1px #d0ddf0; border-radius: 8px;">
                <div class="p-1 m-1" >
                  <button (click)="downloadCertificate(file.file_path)" class="btn btn-md login-btn transition"
                    style="background-color: #6d36a8; font-family:Muli; align-items: center; color: #f8f8f8; font-weight: 700; border-radius: 4px; font-size:15px;"
                    type="submit">
                    <a style="text-decoration: none ;color: #f8f8f8;" class="transition">
                      DOWNLOAD BRONCHURE
                    </a>
                  </button>
                </div>
                <div class="p-1 m-1" *ngIf="showDashbord">
                  <button class="btn btn-lg "
                    style="background-color: #2268AA; font-family:Muli; align-items: center; color: #f8f8f8; font-weight: 700; border-radius: 4px; font-size:15px;"
                    (click)='openModal(requestStandard)'>
                    DOWNLOAD STANDARD
                  </button>
                </div>
                <div class="p-1" style="color: #1E0F2E;">
                  <div class="stadards-title">
                    <h4 style="font-family: Muli;font-weight: 700;">Definition of Terms</h4>
                  </div>
                  <div>
                    <p style="font-family: Muli;font-weight: 400;">For the purpose of this standard the following
                      definitions shall apply:</p>
                  </div>
                </div>
                <div class="p-1" style="color: #50287B;" *ngFor="let term of terms">
                  <h5 style="font-family: Muli;font-weight: 700;">A-la-carte:</h5>
                  <p style="font-family: Muli;font-weight: 400">For the purpose of this standard the following
                    definitions shall apply: means a menu in a restaurant that offers individual priced</p>
                  <h5 class="mt-1" style="font-family: Muli;font-weight: 700;">{{term?.term_title || 'A-la-carte:'}}
                  </h5>
                  <p style="font-family: Muli;font-weight: 400;">{{term?.term_definition || 'means a menu in a restaurant that offers individual priced'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="d-flex justify-content-center">
    <div class="m-3">
      <h5
        style="color: #000000; font-family: Muli;font-size: 16px;font-weight: 600;line-height: 19px;letter-spacing: 0em;text-align: justified;">
        Do you have a Hotel and you would like to request for Accreditation? <a routerLink=""> Click Here</a>
      </h5>
    </div>
  </div>
  <div class="card d-flex justify-content-between" style="background-color: #d0ddf0;padding: 25px 96px;">
    <div>
      <img class="img-fluid" style="position: absolute; margin-top: 4px" src="assets/images/TRA_Logo.png" width="115"
        height="60" alt="logo" />
    </div>
    <div style="
        font-family: 'Mulish';
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.08em;
        margin-left: 50%;
      ">
      <a routerLink="/" style="text-decoration: none; color: #1e0f2e" class="transition">Home</a>
      <a routerLink="/" class="" style="text-decoration: none; margin: 20px; color: #1e0f2e" class="transition">Tourism
        ACT 2011</a>
      <a routerLink="/" style="text-decoration: none; color: #1e0f2e" class="transition">Tourism Regulations 2014</a>
      <div class="d-flex justify-content-end">
        <div (click)="toggleLeaveCommentForm()"
          style="position: fixed; bottom: 9%; right:3%; width: 50px; height: 50px; border-radius: 50%; background-color: #2766BF;"
          class="card-header d-flex align-items-center border-0">
          <p style="color: #F8F8F8; font-size: 30px; margin-left: -13px;">
            <img class="img-fluid" style="position: absolute; bottom: 27%" src="assets/images/chat.png" width="30"
              height="20" alt="logo" />

          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #requestStandard>
  <div class="">
    <div class="row">
      <div class="col-12">
        <div class="">
          <div class="d-flex justify-content-between"
            style="background-color: #d0ddf0; font-family: 'Mulish'; font-weight: 900; border-radius:4px;">
            <h4 class=" text-start mt-3 p-2" style="color: #6D36A8; font-size: 23px;">Fill The Form Then Download
              Standard</h4>
            <div style="color: #6D36A8;">
              <button type="button" class="btn fs-2" style="color: #6D36A8; font-size: 20px; margin-top: -5%;">
                &times;
              </button>
            </div>
          </div>
          <article class="">
            <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
            <form class="mt-1" [formGroup]="form" (ngSubmit)="onRequestStandards()" class="row px-3">
              <div class="tab-content col-12 border-0">
                <div class="form-group mt-2">
                  <input formControlName="name" type="text" class="form-control validation-field border-0" id="name"
                    placeholder="Your Name or Company*">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <input formControlName="email" type="email" class="form-control validation-field border-0" id="email"
                    placeholder="Your email address*">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <input type="text" name="tel" formControlName="phoneNumber" id="phoneNumber"
                    placeholder="Phone Number*" class="form-control validation-field border-0 w-100" ng2TelInput
                    data-initial-country="ke">
                  <!-- <input formControlName="phoneNumber" id="phoneNumber" type="text"  placeholder="Phone Number*" class="form-control validation-field border-0"
                    id="purpose" placeholder="Your Phone No,"> -->
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <!-- <label for="occupation" class="text-gray">Occupation</label> -->
                  <input formControlName="occupation" type="text" class="form-control validation-field border-0"
                    id="occupation" placeholder="Your Occupation">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <!-- <label for="purpose" class="text-gray">Purpose</label> -->
                  <input formControlName="purpose" type="text" class="form-control validation-field border-0"
                    id="purpose" placeholder="Your Purpose">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="col-12 bg-white text-center py-1 mt-3 mb-2">
                  <button style="width: 100%; border: none;" class="btn btn-block bronchure-btn transition"
                    type="submit">
                    <span style="color: white;">DOWNLOAD</span>
                  </button>
                </div>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
</ng-template>