.login-btn {
  color: #ffffff;
  background-color: #F7941D;
  border-radius: 15px;
}
.body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.stadards-title{
font-family: Muli;
font-size: 17px;
font-weight: 800;
line-height: 18px;
letter-spacing: 0em;
}

// .stadards-title :hover{
//   color: #2268AA;
//   }