<div class="body w-100" style="position: relative; background-color: #EFEFEF;">
  <div class="d-flex justify-content-between" style="max-width: 100%; max-height: 70px">
    <div class="d-flex justify-content-around" style="margin-left: 40px">
      <div class="p-2">
        <button class="btn btn-md" style="background-color: #6d36a8; color: #f8f8f8; border-radius: 4px">
          <a href="https://www.tra.go.ke/" style="text-decoration: none; text-transform: none" target="_blank"
            class="transition text-light">
            VISIT:WWW.TRA.GO.KE
          </a>
        </button>
      </div>
      <div class="mt-2">
        <img class="img-fluid" src="assets/images/TRA_Logo.png" width="110" height="50" alt="" />
      </div>
    </div>

    <div style="margin-right: 10px">
      <div class="d-flex p-2 justify-content-between">
        <button class="btn btn-md btn-light transition" type="submit">
          <a routerLink="/auth/activate" style="
            text-decoration: none;
            color: #1e0f2e;
            font-family: 'Muli';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.08em;
            border-radius: 8px;
            text-transform: uppercase;
          " class="transition m-1">Sign Up</a>
        </button>
        <button class="btn btn-md login-btn transition" type="submit">
          <a routerLink="/auth/login" style="text-decoration: none" class="transition">
            <span style="
              color: #f8f8f8;
              font-weight: 700;
              letter-spacing: 0.08em;
              font-size: 12px;
            ">SIGN IN</span></a>
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="card col-md-12 col-lg-12 col-xl-12 col-sm-12"
        style="background-image: url('assets/images/landing2.png'); background-size: cover; background-repeat: no-repeat; padding: 60px 120px; color:#F8F8F8;height: 150px;">
        <h2 style="font-family: 'Mulish';line-height: 25px;font-weight: 600;font-size: 25px; color:#F8F8F8;">
          Ignite Success in Tourism: Align with Our Benchmark Minimum Standards.
        </h2>
      </div>
    </div>
    <div class="card border-0 box-shadow">
      <div class="d-flex justify-content-start mt-4" style="padding-left: 40px;">
        <div class="d-flex justify-content-between" style="width: 96%; border-bottom: 2px solid #6D36A8;">
          <h3 class="card-title" style="color: #6D36A8; font-family: 'Muli';font-weight: 700;font-size: 16px;">Standards
            For Accommodation & Catering Establishment</h3>
          <div class="d-flex justify-content-between">
            <p style="font-weight: 600; font-size: 23px; color:#2268AA;">
              <i (click)='openModal(requestStandard)' class="fa-solid fa-file" title="Request Standard"></i>
            </p>
            <!-- <p style="  font-family: 'Mulish';font-weight: 600; font-size: 23px; color:#2268AA;">
                  <i class="fa-solid fa-download" title="Download Bronchure"></i></p> -->
          </div>
        </div> <i></i>
      </div>
      <div class="card-body mt-3">
        <div class="border-0 box-shadow">
          <div class="grid-margin stretch-card ">
            <div class="row">
              <div class="col-md-2">
                <div class="mt-4">
                  <h5 class="card-title stadards-title" style="color: #2268AA;"> Part I - PRELIMINARY</h5>
                  <!-- <h5 class="card-title stadards-title" style="color: #2268AA;"(click)="updateCurrentDescription(std.describe)" > {{std.name}} </h5> -->
                </div>
                <div class="mt-5">
                  <h5 class="card-title stadards-title" style="color: #76AFE5;"> Part II - Statutory Obligations </h5>
                </div>
                <div class="mt-5">
                  <h5 class="card-title stadards-title" style="color: #76AFE5;"> Part III - Facility Requirements</h5>
                </div>
              </div>
              <div class="col-md-7">
                <div style=" width: 25%; border-bottom: 2px solid #2268AA;" class="stadards-title p-2">
                  <h3 style=" color: #2268AA;">Preliminary</h3>
                </div>
                <div class="mt-3">
                  <p
                    style="color: #000000; font-family: Muli;font-size: 15px;font-weight: 400;line-height: 21px;letter-spacing: 0em;text-align: justified;">
                    {{currentDescription}}
                  </p>
                </div>
              </div>
              <div class="col-md-3 border border-1 rounded"
                style="padding: 10px; border: 1px #d0ddf0; border-radius: 8px;">
                <div class="p-1 m-1">
                  <button class="btn btn-lg"
                    style="background-color: #6d36a8; font-family:Muli; align-items: center; color: #f8f8f8; font-weight: 700; border-radius: 4px; font-size:15px;"
                    (click)='openModal(downloadBronchure)'> DOWNLOAD BRONCHURE
                  </button>
                </div>
                <div class="p-1 m-1">
                  <button class="btn btn-lg "
                    style="background-color: #2268AA; font-family:Muli; align-items: center; color: #f8f8f8; font-weight: 700; border-radius: 4px; font-size:15px;">
                    DOWNLOAD STANDARDS
                  </button>
                </div>
                <div class="p-1" style="color: #1E0F2E;">
                  <div class="stadards-title">
                    <h4 style="font-family: Muli;font-weight: 700;">Definition of Terms</h4>
                  </div>
                  <div>
                    <p style="font-family: Muli;font-weight: 400;">For the purpose of this standard the following
                      definitions shall apply:</p>
                  </div>
                </div>
                <div class="p-1" style="color: #50287B;">
                  <h5 style="font-family: Muli;font-weight: 700;">A-la-carte:</h5>
                  <p style="font-family: Muli;font-weight: 400">For the purpose of this standard the following
                    definitions shall apply: means a menu in a restaurant that offers individual priced</p>
                  <h5 class="mt-1" style="font-family: Muli;font-weight: 700;">Beverages:</h5>
                  <p style="font-family: Muli;font-weight: 400;">For the purpose of this standard the following
                    definitions shall apply: means a menu in a restaurant that offers individual priced</p>
                  <h5 class="mt-1" style="font-family: Muli;font-weight: 700;">Catering Establishments:</h5>
                  <p style="font-family: Muli;font-weight: 400;">For the purpose of this standard the following
                    definitions shall apply: means a menu in a restaurant that offers individual priced</p>
                  <h5 class="mt-1" style="font-family: Muli;font-weight: 700;">Beverages:</h5>
                  <p style="font-family: Muli;font-weight: 400;">For the purpose of this standard the following
                    definitions shall apply: means a menu in a restaurant that offers individual priced</p>
                  <h5 class="mt-1" style="font-family: Muli;font-weight: 700;">Catering Establishments:</h5>
                  <p style="font-family: Muli;font-weight: 400;">For the purpose of this standard the following
                    definitions shall apply: means a menu in a restaurant that offers individual priced</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div style="margin-left: 18%;" class="mt-3">
      <h5
        style="color: #000000; font-family: Muli;font-size: 16px;font-weight: 600;line-height: 19px;letter-spacing: 0em;text-align: justified;">
        Do you have a Hotel and you would like to request for Accreditation? <a href="" routerLink=""> Click Here</a>
      </h5>
    </div>
    <div class="" style="margin-right: 5%; font-family: 'Mulish';font-weight: 700; font-size: 30px; color: #6D36A8;">
      <p> <i (click)='openModal(leaveComment)' class="fa-solid fa-comments" title="Leave A Comment"></i></p>
    </div>

  </div>
  <div class="card d-flex justify-content-between" style="background-color: #d0ddf0;padding: 25px 96px;">
    <div>
      <img class="img-fluid" style="position: absolute; margin-top: 4px" src="assets/images/TRA_Logo.png" width="115"
        height="60" alt="logo" />
    </div>
    <div style="
        font-family: 'Mulish';
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.08em;
        margin-left: 50%;
      ">
      <a routerLink="/" style="text-decoration: none; color: #1e0f2e" class="transition">Home</a>
      <a routerLink="/" class="" style="text-decoration: none; margin: 20px; color: #1e0f2e" class="transition">Tourism
        ACT 2011</a>
      <a routerLink="/" style="text-decoration: none; color: #1e0f2e" class="transition">Tourism Regulations 2014</a>
    </div>
  </div>
</div>
<ng-template #requestStandard>
  <div class="modal-body bg-gray">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <header class="card-header" style="background-color: #d0ddf0; font-family: 'Muli'; font-weight: 800;">
            <h5 class=" text-start" style="color: #6D36A8;">Request a Standard</h5>
          </header>
          <article class="card-body">
            <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
            <form [formGroup]="form" (ngSubmit)="onRequestStandards()" class="row px-3">
              <div class="tab-content col-12 border-0">
                <div class="form-group">
                  <!-- <label for="purpose" class="text-gray">Purpose</label> -->
                  <input formControlName="purpose" type="text" class="form-control validation-field" id="purpose"
                    placeholder="Your Purpose">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <!-- <label for="name" class="text-gray">Name</label> -->
                  <input formControlName="name" type="text" class="form-control validation-field" id="name"
                    placeholder="Your Name">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <!-- <label for="purpose" class="text-gray">Mobile Number</label> -->
                  <input formControlName="phoneNumber" type="text" class="form-control validation-field" id="purpose"
                    placeholder="Your Phone No,">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <!-- <label for="email" class="text-gray">Email</label> -->
                  <input formControlName="email" type="email" class="form-control validation-field" id="email"
                    placeholder="Your Email">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <!-- <label for="occupation" class="text-gray">Occupation</label> -->
                  <input formControlName="occupation" type="text" class="form-control validation-field" id="occupation"
                    placeholder="Your Occupation">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="col-12 bg-white text-center py-1 mt-3">
                  <button [disabled]="!form.valid" class="btn btn-sm btn-success text-center"
                    type="submit">Submit</button>
                  <button type="submit" style="margin-left: 2%;" class="btn btn-sm btn-danger text-center"
                    (mousedown)="closeModal()">Close</button>
                </div>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #leaveComment>
  <div class="modal-body bg-gray">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <header class="card-header">
            <h5 class="card-title mt-2 text-center">Leave a Comment</h5>
          </header>
          <article class="card-body">
            <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
            <form [formGroup]="form" (ngSubmit)="onRequestStandards()" class="row px-3">
              <div class="tab-content col-12 border-0">

                <div class="form-group mt-2">
                  <label for="name" class="text-gray">Name</label>
                  <input formControlName="name" type="text" class="form-control validation-field" id="name"
                    placeholder="Your Name">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group">
                  <label for="purpose" class="text-gray">Mobile Number</label>
                  <input formControlName="phoneNumber" type="text" class="form-control validation-field" id="purpose"
                    placeholder="Your Phone No,">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <label for="email" class="text-gray">Email</label>
                  <input formControlName="email" type="email" class="form-control validation-field" id="email"
                    placeholder="Your Email">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <label for="occupation" class="text-gray">Occupation</label>
                  <input formControlName="occupation" type="text" class="form-control validation-field" id="occupation"
                    placeholder="Your Occupation">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group">
                  <label for="purpose" class="text-gray">Comments</label>
                  <input formControlName="purpose" type="text" class="form-control validation-field" id="purpose"
                    placeholder="Your Comment">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="col-12 bg-white text-center py-1 mt-3">
                  <button [disabled]="!form.valid" class="btn btn-sm btn-success text-center"
                    type="submit">Submit</button>
                  <button type="submit" style="margin-left: 2%;" class="btn btn-sm btn-danger text-center"
                    (mousedown)="closeModal()">Close</button>
                </div>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #downloadBronchure>
  <div class="">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <header class="card-header" style="background-color: #d0ddf0; font-family: 'Mulish'; font-weight: 800;">
            <h4 class=" text-start" style="color: #6D36A8;">One More Step</h4>
          </header>
          <article class="">
            <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
            <p class="form-control border-0" style="color: #1E0F2E; font-family: 'Mulish'; font-weight: 400; padding-left: 24px;">Fill out
              this form and the download will be sent to your email</p>
            <form class="mt-1" [formGroup]="form" (ngSubmit)="onRequestStandards()" class="row px-3">
              <div class="tab-content col-12 border-0">
                <div class="form-group mt-2">
                  <input formControlName="name" type="text" class="form-control validation-field border-0" id="name"
                    placeholder="Your Name or Company*">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <input formControlName="email" type="email" class="form-control validation-field border-0" id="email"
                    placeholder="Your email address*">
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="form-group mt-2">
                  <input type="text" name="tel" formControlName="phoneNumber" id="phoneNumber"
                    placeholder="Phone Number*" class="form-control validation-field border-0" ng2TelInput
                    data-initial-country="ke">
                  <!-- <input formControlName="phoneNumber" id="phoneNumber" type="text"  placeholder="Phone Number*" class="form-control validation-field border-0"
                    id="purpose" placeholder="Your Phone No,"> -->
                  <!-- <small class="text-danger" *ngIf="f.concern.touched && f.concern.errors?.required">Field Required</small> -->
                </div>
                <div class="col-12 bg-white text-center py-1 mt-3 mb-2">
                  <button (click)="onSubmit($event)" style="width: 100%; border: none;"
                    class="btn btn-block bronchure-btn transition" type="submit">
                    <span style="color: white;">DOWNLOAD</span>
                  </button>
                </div>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>

</ng-template>