.login-btn {
  color: #ffffff;
  background-color: #F7941D;
  border-radius: 15px;
}
.body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.stadards-title{
font-family: Muli;
font-size: 18px;
font-weight: 800;
line-height: 14px;
// letter-spacing: 0em;
}